<div id="process" class="container">
  <div class="row py-4">
    <div class="col">
      <div class="h3">
        Precios
      </div>
    </div>
  </div>
  <div class="row py-1">
    <div class="col-12 col-lg-4 col-md-6 col-sm-12 mt-sm-3">
      <div class="card">
        <h5 class="card-header">Gratis</h5>
        <div class="card-body">
          <h5 class="card-title">$0.00</h5>
          <p class="card-text">Obtén las opciones básicas de IngresApp <span class="badge badge-danger">CON</span> anuncios</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Anuncios en todas las páginas</li>
          <li class="list-group-item">Creación de accesos uno por uno</li>
          <li class="list-group-item">Hasta 100 inquilinos</li>
          <li class="list-group-item"><del>Visitantes recurrentes</del></li>
          <li class="list-group-item"><del>Alertas vías SMS o Email</del></li>
          <li class="list-group-item">Reportes básicos</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary">Adquirir</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-6 col-sm-12 mt-sm-3">
      <div class="card">
        <h5 class="card-header">Básico</h5>
        <div class="card-body">
          <h5 class="card-title">$1.00 por inquilino</h5>
          <p class="card-text">Obtén las opciones básicas de IngresApp <span class="badge badge-success">SIN</span> Anuncios</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><del>Anuncios en todas las páginas</del></li>
          <li class="list-group-item">Creación de accesos <mark class="bg-success border rounded text-light">masivo</mark></li>
          <li class="list-group-item">Hasta 250 inquilinos</li>
          <li class="list-group-item">Visitantes recurrentes</li>
          <li class="list-group-item"><del>Alertas vías SMS o Email</del></li>
          <li class="list-group-item">Reportes <mark class="bg-success border rounded text-light">avanzados</mark></li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary m-1">Adquirir</a>
          <small>Gratis 15 días!</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-6 col-sm-12 mt-sm-3">
      <div class="card">
        <h5 class="card-header">Avanzado</h5>
        <div class="card-body">
          <h5 class="card-title">$1.50 por inquilino</h5>
          <p class="card-text">
            Obtén <span class="badge badge-success">TODAS</span> las opciones de IngresApp
            <span class="badge badge-success">SIN</span> anuncios
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><del>Anuncios en todas las páginas</del></li>
          <li class="list-group-item">Creación de accesos <mark class="bg-success border rounded text-light">masivo</mark></li>
          <li class="list-group-item"><mark class="bg-success border rounded text-light">Inquilinos ilimitados</mark></li>

          <li class="list-group-item">Visitantes recurrentes</li>
          <li class="list-group-item">Alertas vías SMS o Email</li>
          <li class="list-group-item">Reportes <mark class="bg-success border rounded text-light">avanzados</mark></li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary m-1">Adquirir</a>
          <small>Gratis 15 días!</small>
        </div>
      </div>
    </div>
  </div>
</div>
