<div class="container">
    
  <div class="row">
    <div class="col">
      <div class="titles">
        Guard
      </div>
    </div>
  </div>
  <div class="row  py-4">
    <div class="col py-2">
      <div class="card text-center mx-auto shadow" style="width: 18rem;">
        <div class="card-body">
          <div routerLink="/guardEnterCode/{{ administratorID }}/{{ residenceID }}/{{ guardID }}" style="cursor: pointer">
            <h5 class="card-title pointer">
              <a class="text-decoration-none">
                <i class="material-icons p-4  rounded-circle text-white h1 bg-primary">security</i>
                <br />
              </a>
              Enter Access Code
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-2">
      <div class="card text-center mx-auto shadow" style="width: 18rem;">
        <div class="card-body">
          <div >
            <h5 class="card-title pointer">
              <a class="text-decoration-none">
                <i class="material-icons p-4  rounded-circle text-white h1 bg-primary">search</i>
                <br />
              </a>
              Search visit
            </h5>
          </div>
          <ul
            routerLink="/reportVisitDay/{{ administratorID }}/{{ residenceID }}/{{ guardID }}"
            style="cursor: pointer"
            class="list-group list-group-flush"
          >
            <li class="list-group-item ">
              <a class="card-link">Visits of the day</a>
            </li>
          </ul>
          <ul
            routerLink="/reportVisitWeek/{{ administratorID }}/{{ residenceID }}/{{ guardID }}"
            style="cursor: pointer"
            class="list-group list-group-flush"
          >
            <li class="list-group-item ">
              <a class="card-link">Visits last week</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
