<form>
  <div class="container">
    <div class="row py-4">
      <div class="col">
        <div class="h3">
          Soporte y Mantenimiento
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="h4">
          Correo electrónico
        </div>
        <div class="h6">
          support@ingresapp.com.gt
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="Asunto">Asunto</label>
          <input
            type="text"
            class="form-control"
            name="Asunto"
            id="Asunto"
            aria-describedby="helpId"
            placeholder="Ingrese el asunto del inconveniente"
          />
        </div>
        <div class="form-group">
          <label for="Descripcion">Descripcion</label>
          <textarea
            class="form-control"
            name="Descripcion"
            id="Descripcion"
            placeholder="Ingrese una descripción del inconveniente"
            rows="3"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary w-100">Enviar</button>
      </div>
    </div>
  </div>
</form>
