<div class="container p-3">
  <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
    <div class="card">
      <div class="card-header  font-weight-bold">
        Reset Password
      </div>
      <div class="card card-body">
        <form [formGroup]="frmSignup">
          <div class="form-group">
            <label for="email" [ngClass]="frmSignup.controls['email'].invalid ? 'text-danger' : ''">Email Address</label>
            <input
              id="email"
              formControlName="email"
              type="email"
              class="form-control"
              autocomplete="username"
              [ngClass]="frmSignup.controls['email'].invalid ? 'is-invalid' : ''"
            />
            <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('required')">
              Email is Required!
            </label>
            <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('email')">
              Enter a valid email address!
            </label>
          </div>
          <div class="form-group">
            <button [disabled]="frmSignup.invalid" type="button" class="btn btn-primary btn-block font-weight-bold" (click)="resetPassword()">Reset Password</button>
            <label for="" class="btn-block  text-center text-danger">{{ msj }}</label>
            <label for="" class="btn-block  text-center text-success">{{ msjOk }}</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
