<div class="container">
  <div class="row">
    <div class="col p-1">
      <span class="titles">
        Administrate your account
      </span>
    </div>
  </div>
  <div class="row py-1">
    <div class="col">
      <div>
        <!-- <a routerLink="/residentForm/{{ administratorID }}/{{ residenceID }}/0" class="btn btn-primary">New Resident</a>&nbsp; -->
        <a routerLink="/administrator" class="btn btn-secondary">Back home</a>
      </div>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12 col-md-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a
          class="list-group-item list-group-item-action active"
          id="list-home-list"
          data-toggle="list"
          href="#list-home"
          role="tab"
          aria-controls="home"
          >Plan and payment information
        </a>
        <a
          class="list-group-item list-group-item-action"
          id="list-profile-list"
          data-toggle="list"
          href="#list-profile"
          role="tab"
          aria-controls="profile"
          >Personal information</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-messages-list"
          data-toggle="list"
          href="#list-messages"
          role="tab"
          aria-controls="messages"
          >Change password</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-invoice-list"
          data-toggle="list"
          href="#list-invoice"
          role="tab"
          aria-controls="invoice"
          >Invoice information</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-delete-list"
          data-toggle="list"
          href="#list-delete"
          role="tab"
          aria-controls="delete"
          >Delete account</a
        >
      </div>
    </div>
    <div class="col-12 col-md-8 my-1">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
          <form [formGroup]="frmPlan">
            <div class="h2">Plan</div>
            <div class="btn-group btn-group-toggle" formControlName="membership" name="radioBasic" ngbRadioGroup>
              <label
                ngbButtonLabel
                [ngClass]="frmPlan.controls['membership'].value == 'free' ? 'alert-primary' : 'alert-light'"
                class="p-1"
              >
                <input type="radio" value="free" ngbButton />
                <div class="card" style="cursor:pointer">
                  <h5 class="card-header">Gratis</h5>
                  <div class="card-body">
                    <h5 class="card-title">$ 0.00</h5>
                    <p class="card-text">Opciones básicas<br /><span class="badge badge-danger">CON</span> anuncios</p>
                  </div>
                </div>
              </label>
              <label
                ngbButtonLabel
                [ngClass]="frmPlan.controls['membership'].value == 'basic' ? 'alert-primary' : 'alert-light'"
                class="p-1"
              >
                <input type="radio" value="basic" ngbButton />
                <div class="card" style="cursor:pointer">
                  <h5 class="card-header">Básico</h5>
                  <div class="card-body">
                    <h5 class="card-title">$ 1.00 por inquilino</h5>
                    <p class="card-text">Opciones básicas<br /><span class="badge badge-success">SIN</span> Anuncios</p>
                  </div>
                </div>
              </label>
              <label
                ngbButtonLabel
                [ngClass]="frmPlan.controls['membership'].value == 'advanced' ? 'alert-primary' : 'alert-light'"
                class="p-1"
              >
                <input type="radio" value="advanced" ngbButton />
                <div class="card" style="cursor:pointer">
                  <h5 class="card-header">Avanzado</h5>
                  <div class="card-body">
                    <h5 class="card-title">$ 1.50 por inquilino</h5>
                    <p class="card-text">
                      <span class="badge badge-success">TODAS</span> las opciones
                      <br />
                      <span class="badge badge-success">SIN</span> anuncios
                    </p>
                  </div>
                </div>
              </label>
            </div>
            <div class="small">You can see the detail of the plans <a routerLink="/price">here</a></div>
            <br />
            <div class="h2">Payment information</div>
            <div class="form-group">
              <label for="name">Full name (on the card)</label>
              <input
                type="text"
                name="name"
                [ngClass]="frmPlan.controls['name'].invalid ? 'is-invalid' : ''"
                formControlName="name"
                placeholder="Jason Doe"
                required
                class="form-control"
              />
              <label class="text-danger small" *ngIf="frmPlan.controls['name'].hasError('required')">
                Full name is required!
              </label>
            </div>
            <div class="form-group">
              <label for="number">Card number</label>
              <div class="input-group">
                <input
                  type="text"
                  name="number"
                  [ngClass]="frmPlan.controls['number'].invalid ? 'is-invalid' : ''"
                  formControlName="number"
                  placeholder="Your card number"
                  class="form-control"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text text-muted">
                    <i class="fa fa-cc-visa mx-1"></i>
                    <i class="fa fa-cc-amex mx-1"></i>
                    <i class="fa fa-cc-mastercard mx-1"></i>
                  </span>
                </div>
              </div>
              <label class="text-danger small" *ngIf="frmPlan.controls['number'].hasError('required')">
                Card number is required!
              </label>
              <label
                class="text-danger small"
                *ngIf="frmPlan.controls['number'].hasError('min') || frmPlan.controls['number'].hasError('max')"
              >
                Card number must have 16 digits
              </label>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <label><span class="hidden-xs">Expiration</span></label>
                  <div class="input-group">
                    <input
                      type="number"
                      [ngClass]="frmPlan.controls['month'].invalid ? 'is-invalid' : ''"
                      placeholder="MM"
                      formControlName="month"
                      name=""
                      class="form-control"
                      required
                    />
                    <input
                      type="number"
                      formControlName="year"
                      [ngClass]="frmPlan.controls['year'].invalid ? 'is-invalid' : ''"
                      placeholder="YY"
                      name=""
                      class="form-control"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group mb-4">
                  <label data-toggle="tooltip" title="Three-digits code on the back of your card"
                    >CVV
                    <i class="fa fa-question-circle"></i>
                  </label>
                  <input
                    type="text"
                    [ngClass]="frmPlan.controls['cvv'].invalid ? 'is-invalid' : ''"
                    formControlName="cvv"
                    required
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-sm-8">
                <label
                  class="text-danger small"
                  *ngIf="frmPlan.controls['month'].hasError('required') || frmPlan.controls['year'].hasError('required')"
                >
                  Expiration date is required!
                </label>
                <label
                  class="text-danger small"
                  *ngIf="frmPlan.controls['month'].hasError('min') || frmPlan.controls['month'].hasError('max')"
                >
                  Month must be a number between 1-12
                </label>
                <label
                  class="text-danger small"
                  *ngIf="frmPlan.controls['year'].hasError('min') || frmPlan.controls['year'].hasError('max')"
                >
                  Year must be a valid date
                </label>
              </div>
              <div class="col-sm-4">
                <label class="text-danger small" *ngIf="frmPlan.controls['cvv'].hasError('required')">
                  CVV is required!
                </label>
                <label class="text-danger small" *ngIf="frmPlan.controls['cvv'].hasError('min') || frmPlan.controls['cvv'].hasError('max')">
                  CVV must be a number between 100 and 999
                </label>
              </div>
            </div>

            <button type="button" [disabled]="frmPlan.invalid" (click)="saveCC()" class="btn btn-success btn-block">Save</button>
            <br />
          </form>
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          <div class="h2">
            Personal information
          </div>
          <form [formGroup]="frmAdministration">
            <div class="row">
              <div class="col">
                <label for="name" [ngClass]="frmAdministration.controls['name'].invalid ? 'text-danger' : ''">Full name</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input
                    id="name"
                    formControlName="name"
                    type="text"
                    class="form-control"
                    [ngClass]="frmAdministration.controls['name'].invalid ? 'is-invalid' : ''"
                    placeholder="First and last name"
                  />
                  <label class="text-danger small" *ngIf="frmAdministration.controls['name'].hasError('required')">
                    Full name is required!
                  </label>
                  <label class="text-danger small" *ngIf="frmAdministration.controls['name'].hasError('minlength')">
                    Full name must have at least 6 characters
                  </label>
                  <label class="text-danger small" *ngIf="frmAdministration.controls['name'].hasError('maxlength')">
                    Full name max is 50 characters
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="email" class="col-form-label" [ngClass]="frmAdministration.controls['email'].invalid ? 'text-danger' : ''"
                  >Email Address</label
                >
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input
                    id="email"
                    formControlName="email"
                    readonly
                    type="email"
                    class="form-control"
                    placeholder="example@ingresapp.com"
                    [ngClass]="frmAdministration.controls['email'].invalid ? 'is-invalid' : ''"
                  />
                  <label class="text-danger small" *ngIf="frmAdministration.controls['email'].hasError('required')">
                    Email is Required!
                  </label>
                  <label class="text-danger small" *ngIf="frmAdministration.controls['email'].hasError('email')">
                    Enter a valid email address!
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-4 col-5">
                <div class="form-group inline-block">
                  <label for="code" class="col-form-label" [ngClass]="frmAdministration.controls['code'].invalid ? 'text-danger' : ''"
                    >Code</label
                  >
                  <input
                    id="code"
                    formControlName="code"
                    type="number"
                    [ngClass]="frmAdministration.controls['code'].invalid ? 'is-invalid' : ''"
                    class="form-control inline-block"
                    placeholder="502"
                  />
                  <label class="text-danger small" *ngIf="frmAdministration.controls['code'].hasError('required')">
                    Code is required!
                  </label>
                  <label class="text-danger small" *ngIf="frmAdministration.controls['code'].hasError('pattern')">
                    Only numbers are allowed
                  </label>
                  <label
                    class="text-danger small"
                    *ngIf="frmAdministration.controls['code'].hasError('max') || frmAdministration.controls['code'].hasError('min')"
                  >
                    Code max is 3 digits
                  </label>
                </div>
              </div>
              <div class="col-md-9 col-sm-8 col-7">
                <div class="form-group inline-block">
                  <label for="number" class="col-form-label" [ngClass]="frmAdministration.controls['number'].invalid ? 'text-danger' : ''"
                    >Phone number</label
                  >
                  <input
                    id="number"
                    formControlName="number"
                    type="number"
                    [ngClass]="frmAdministration.controls['number'].invalid ? 'is-invalid' : ''"
                    class="form-control inline-block"
                    placeholder="12345456"
                  />
                  <label class="text-danger small" *ngIf="frmAdministration.controls['number'].hasError('required')">
                    Number is required and only number are allowed!
                  </label>
                  <label class="text-danger small" *ngIf="frmAdministration.controls['number'].hasError('pattern')">
                    Only numbers are allowed
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button [disabled]="frmAdministration.invalid" (click)="saveInformation()" type="button" class="btn btn-success btn-block">
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
          <ng-container *ngIf="changePassword; else noChange">
            <div class="h2">Change password</div>
            <p>
              It will be logged out from the system and you will receive an email to reset your password. After that you must authenticate
              yourself in the system again.
            </p>
            <button type="button" class="btn btn-warning btn-block">Reset your password</button>
          </ng-container>
          <ng-template #noChange>
            <p class="h4">
              Your account is vinculated to <b>{{ provider }}</b
              >, you can't change your password from this application
            </p>
          </ng-template>
        </div>
        <div class="tab-pane fade" id="list-invoice" role="tabpanel" aria-labelledby="list-invoice-list">
          <div class="h2">Invoices</div>
        </div>
        <div class="tab-pane fade" id="list-delete" role="tabpanel" aria-labelledby="list-delete-list">
          <div class="h2 text-danger">Delete account</div>
          <p>
            If you delete your account you will lose all the information of your residences/offices and residents. THIS PROCESS IS
            IRREVERSIBLE.
          </p>
          <button type="button" class="btn btn-danger btn-block">Confirm Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
