<div class="container">
  <div class="row p-3">
    <div class="col">
      <div class="display-4">My residences / offices</div>
      <br />
      <ng-container>
        <ul class="nav nav-tabs" role="tablist">
          <li *ngFor="let r of residence; let i = index" class="nav-item">
            <a class="nav-link" [class.active]="i == 0" href="#{{ r.id }}" role="tab" data-toggle="tab" aria-selected="true">{{
              r.data.name
            }}</a>
          </li>
          <li class="nav-item">
            <a id="tabNew" href="#newPanel" role="tab" data-toggle="tab" aria-selected="true" class="nav-link text-success "
              ><b>New +</b>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <ng-container *ngFor="let r of residence; let i = index">
            <div role="tabpanel" class="tab-pane" [class.active]="i == 0" [class.fade]="i != 0" id="{{ r.id }}">
              <div class="container-fluid">
                <div class="row p-2">
                  <div class="col">
                    <span class="h3"
                      >Name: <b>{{ r.data.name }}</b></span
                    ><br />
                    <span class="h3"
                      >Code: <b>{{ r.data.code }}</b></span
                    ><br />
                    <span class="h3"
                      >Type: <b>{{ r.data.type }}</b></span
                    ><br />
                  </div>
                </div>
                <div class="row p-2">
                  <div class="col m-2">
                    <div class="card text-center shadow" style="width: 18rem;">
                      <div class="card-body">
                        <div routerLink="/guard/{{ uid }}/{{ r.id }}" style="cursor: pointer">
                          <h5 class="card-title pointer">
                            <a class="text-decoration-none">
                              <i class="material-icons p-4 bg-primary rounded-circle text-white h1">security</i> <br />
                            </a>
                            Security Guards ({{ r.guards }})
                          </h5>
                          <p class="card-text">Administrate your security guards</p>
                        </div>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item ">
                            <a routerLink="/guardForm/{{ uid }}/{{ r.id }}/0" class="card-link"
                              ><i class="material-icons">add_circle_outline</i> New Guard</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col m-2">
                    <div class="card text-center  shadow" style="width: 18rem;">
                      <div class="card-body">
                        <div routerLink="/resident/{{ uid }}/{{ r.id }}" style="cursor: pointer">
                          <h5 class="card-title">
                            <a class="text-decoration-none">
                              <i class="material-icons p-4 bg-primary rounded-circle text-white h1">people</i> <br />
                            </a>
                            Residents ({{ r.resident }})
                          </h5>
                          <p class="card-text">Administrate your residents</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <!-- <li class="list-group-item ">
                            <a routerLink="/residentForm/{{ uid }}/{{ r.id }}/0"href="#" class="card-link"><i class="material-icons">add_circle_outline</i> New Resident</a>
                          </li> -->
                          <li class="list-group-item" *ngIf="r.residentPending > 0">
                            <i class="material-icons text-warning">report</i>
                            <a href="#" class="card-link"> Pending approval ({{ r.residentPending }})</a>
                          </li>
                          <li class="list-group-item" *ngIf="r.residentMissing > 0">
                            <i class="material-icons text-danger">report</i>
                            <a href="#" class="card-link"> Pending information ({{ r.residentMissing }})</a>
                          </li>
                          <li class="list-group-item text-muted">
                            <a class="card-link">Payment account <span class="badge badge-warning">Soon!</span>&nbsp;</a>
                            <br />
                            <i class="material-icons text-primary" (click)="poll(r.id, 'administrator', 'payment', true)" style="cursor:pointer">thumb_up</i>&nbsp;
                            <i class="material-icons text-danger" (click)="poll(r.id,'administrator', 'payment', false)" style="cursor:pointer">thumb_down</i>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col m-2">
                    <div class="card text-center shadow" style="width: 18rem;">
                      <div class="card-body">
                        <div>
                          <!-- <div routerLink="/resident/{{ uid }}/{{ r.id }}" style="cursor: pointer"> -->
                          <h5 class="card-title">
                            <a class="text-decoration-none">
                              <i class="material-icons p-4 bg-light rounded-circle text-muted h1">chat</i> <br />
                            </a>
                            Messages
                          </h5>
                          <p class="card-text text-muted">Facilitate your communications with your residents</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <span class="badge badge-warning">Soon!</span>&nbsp;
                            <i class="material-icons text-primary" (click)="poll(r.id,'administrator', 'messages', true)" style="cursor:pointer">thumb_up</i>&nbsp;
                            <i class="material-icons text-danger" (click)="poll(r.id,'administrator', 'messages', false)" style="cursor:pointer">thumb_down</i>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col m-2">
                    <div class="card text-center shadow" style="width: 18rem;">
                      <div class="card-body">
                        <div>
                          <!-- <div routerLink="/resident/{{ uid }}/{{ r.id }}" style="cursor: pointer"> -->
                          <h5 class="card-title">
                            <a class="text-decoration-none">
                              <i class="material-icons p-4 bg-light rounded-circle text-muted h1">rate_review</i> <br />
                            </a>
                            Requests
                          </h5>
                          <p class="card-text text-muted">
                            Administrate your requests to your social areas, calendarize them, established minimum and maximum capacity,
                            etc.
                          </p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <span class="badge badge-warning">Soon!</span>&nbsp;
                            <i class="material-icons text-primary" (click)="poll(r.id,'administrator', 'requests', true)" style="cursor:pointer">thumb_up</i>&nbsp;
                            <i class="material-icons text-danger" (click)="poll(r.id,'administrator', 'requests', false)" style="cursor:pointer">thumb_down</i>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col m-2">
                    <div class="card  text-center  shadow" style="width: 18rem;">
                      <div class="card-body">
                        <div routerLink="/administratorConfiguration/{{ uid }}/{{ r.id }}" style="cursor: pointer">
                          <h5 class="card-title">
                            <i class="material-icons p-4 bg-primary rounded-circle text-white h1">settings_applications</i> <br />
                            Configuration
                          </h5>
                          <p class="card-text">Configurate your residence, office</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col m-2">
                    <div class="card  text-center shadow" style="width: 18rem;">
                      <div class="card-body">
                        <div routerLink="/administratorReports/{{ uid }}/{{ r.id }}" style="cursor: pointer">
                          <h5 class="card-title">
                            <i class="material-icons p-4 bg-primary rounded-circle text-white h1">assessment</i> <br />
                            Reports
                          </h5>
                          <p class="card-text">Generate a report</p>
                        </div>

                        <!-- <ul class="list-group list-group-flush">
                          <li class="list-group-item ">
                            <i class="material-icons">assessment</i>
                            <a routerLink="/administratorReports/{{ uid }}" class="card-link"> Reports</a>
                          </li>
                        </ul> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div role="tabpanel" [class.active]="residence?.length == 0" [class.fade]="residence?.length != 0" class="tab-pane" id="newPanel">
            <div class="container p-4">
              <div class="row">
                <div class="col">
                  <div class="offset-lg-1 col-lg-10">
                    <div class="card">
                      <div class="card-header  font-weight-bold"><i class="material-icons">house</i> New residence / office</div>
                      <div class="card card-body">
                        <form [formGroup]="frmNewResidence">
                          <div class="form-group">
                            <label for="name" [ngClass]="frmNewResidence.controls['name'].invalid ? 'text-danger' : ''"
                              >Residence / Office name
                            </label>
                            <input
                              id="name"
                              formControlName="name"
                              type="text"
                              class="form-control"
                              (keyup)="onKey($event)"
                              [ngClass]="frmNewResidence.controls['name'].invalid ? 'is-invalid' : ''"
                            />
                            <label class="text-danger" *ngIf="frmNewResidence.controls['name'].hasError('required')">
                              Residence / Office name is Required!
                            </label>
                            <label class="text-danger" *ngIf="frmNewResidence.controls['name'].hasError('minlength')">
                              Residence / Office name must have at least 6 characters
                            </label>
                            <label class="text-danger" *ngIf="frmNewResidence.controls['name'].hasError('maxlength')">
                              Residence / Office name max is 50 characters
                            </label>
                          </div>
                          <div class="form-group">
                            <label for="">Code </label><br />
                            <label for="" class="h3" id="code">
                              {{ code }}
                            </label>
                          </div>
                          <div class="form-group">
                            <label for="type" [ngClass]="frmNewResidence.controls['type'].invalid ? 'text-danger' : ''">Type </label>
                            <select name="type" formControlName="type" class="form-control" id="type">
                              <option value="Residence">Residence</option>
                              <option value="Office">Office</option>
                              <option value="Warehouse">Warehouse</option>
                              <!-- <option *ngFor="let rt of residenceType; let j = index" value="residenceType/{{ rt.id }}">{{ rt.name }}</option> -->
                            </select>
                            <label class="text-danger" *ngIf="frmNewResidence.controls['type'].hasError('required')">
                              The type is required
                            </label>
                          </div>
                          <div class="form-group">
                            <button
                              [disabled]="frmNewResidence.invalid"
                              type="button"
                              value=""
                              (click)="create()"
                              class="btn btn-primary btn-block font-weight-bold"
                            >
                              Create
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-4 col-4 text-center">
      <ng-template class="text-center w100" #elseTemplate>
        <i class="material-icons p-4 h1">refresh</i>
      </ng-template>
    </div>
  </div>
</div>
