<div id="process" class="container">
  <div class="row py-4">
    <div class="col">
      <div class="h3">
        Procesos
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="h4 primary">
        Creación de códigos de acceso
      </div>
    </div>
  </div>
  <div class="row text-light text-center p-3 ">
    <div class="offset-2 col-2">
      <div id="process-item" class=""><i class="material-icons p-4 bg-primary rounded-circle text-white h1">phonelink</i></div>
    </div>
    <div class="col-2">
      <div id="process-item" class=""><i class="material-icons p-4 bg-primary rounded-circle text-white h1">share</i></div>
    </div>
    <div class="col-2">
      <div id="process-item" class=""><i class="material-icons p-4 bg-primary rounded-circle text-white h1">house</i></div>
    </div>
    <div class="col-2">
      <div id="process-item" class=""><i class="material-icons p-4 bg-primary rounded-circle text-white h1">lock_open</i></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="h4 primary">
        Creación de residencial / oficina / área a administrar
      </div>
    </div>
  </div>
  <div class="row text-light text-center p-3">
    <div class="col-1"></div>
    <div class="col-2"><div id="process-item" class="py-4 border bg-danger rounded-circle">1</div></div>
    <div class="col-2"><div id="process-item" class="py-4 border bg-danger rounded-circle">2</div></div>
    <div class="col-2"><div id="process-item" class="py-4 border bg-danger rounded-circle">3</div></div>
    <div class="col-2"><div id="process-item" class="py-4 border bg-danger rounded-circle">4</div></div>
    <div class="col-2"><div id="process-item" class="py-4 border bg-danger rounded-circle">5</div></div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col">
      <div class="h4 primary">
        Alta de administrador
      </div>
    </div>
  </div>
  <div class="row text-light text-center p-3">
    <div class="col-3"></div>
    <div class="col-2"><div id="process-item" class="py-4 border bg-success rounded-circle">1</div></div>
    <div class="col-2"><div id="process-item" class="py-4 border bg-success rounded-circle">2</div></div>
    <div class="col-2"><div id="process-item" class="py-4 border bg-success rounded-circle">3</div></div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col">
      <div class="h4 primary">
        Alta de inquilino
      </div>
    </div>
  </div>
  <div class="row text-light text-center p-3">
    <div class="col-2"></div>
    <div class="col-2"><div id="process-item" class="py-4 border bg-info rounded-circle">1</div></div>
    <div class="col-2"><div id="process-item" class="py-4 border bg-info rounded-circle">2</div></div>
    <div class="col-2"><div id="process-item" class="py-4 border bg-info rounded-circle">3</div></div>
    <div class="col-2"><div id="process-item" class="py-4 border bg-info rounded-circle">4</div></div>
    <div class="col-2"></div>
  </div>
</div>
