<div class="container p-4">
  <div class="row py-2">
    <div class="col">
      <div class="titles">Guards of {{ residence?.name }}</div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <div>
        <a routerLink="/guardForm/{{ administratorID }}/{{ residenceID }}/0" class="btn btn-primary">New Guard</a>&nbsp;
        <a routerLink="/administrator" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-responsive-sm table-hover">
        <thead class="thead-dark">
          <th>#</th>
          <th>Name</th>
          <th>Username</th>
          <th>Phone number</th>
          <th>Login token</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of guards; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.uid }}</td>
            <td>(+{{ item.phoneCountryCode }}) {{ item.phone }}</td>
            <td>{{ item.password }}</td>
            <td>
              <a routerLink="/guardForm/{{ administratorID }}/{{ residenceID }}/{{ item.uid }}"
                ><i class="material-icons  p-md-2 text-primary">edit</i></a
              >
              &nbsp;
              <i class="material-icons p-md-2 text-danger" style="cursor:pointer" (click)="delete(content, item.name, item.uid)">delete</i>
              <!-- &nbsp;
              <a href="#"><i class="material-icons  p-md-2 text-info">list</i></a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="material-icons p-md-2 text-danger">delete</i>
      Delete Guard
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the guard <b>{{ guard?.name }}</b>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-danger" ngbAutofocus (click)="confirmDelete(administratorID, residenceID, guard?.uid)">Delete</button>
  </div>
</ng-template>
