<div class="container p-4">
  <div class="row py-2">
    <div class="col">
      <div class="titles">Visitors Pending</div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <div>
        <a routerLink="/residentHome/{{ administratorID }}/{{ residenceID }}/{{ residentID }}" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-responsive-sm table-hover">
        <thead class="thead-dark">
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Visit Date</th>
          <th>Phone number</th>
          <th>Code</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of visitor; let i = index" [ngClass]="item.visitDate >= dateToday ? '' : 'alert-danger'">
            <th>{{ i + 1 }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.eMail }}</td>
            <td>
              {{ item.visitDate | date }}
              <br />
              <span class="badge badge-danger" [hidden]="item.visitDate >= dateToday">
                Expired and not used
              </span>
            </td>
            <td>(+{{ item.phoneCountryCode }}) {{ item.phone }}</td>
            <td>{{ item.code }}</td>
            <td>
              <i class="material-icons p-md-2 text-primary" style="cursor:pointer" (click)="details(code, item.documentImage)">list</i>
              &nbsp;
              <i class="material-icons p-md-2 text-danger" style="cursor:pointer" (click)="delete(content, item.name, item.documentImage)"
                >delete</i
              >
              <!-- &nbsp;
                          <a href="#"><i class="material-icons  p-md-2 text-info">list</i></a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #code>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="material-icons p-md-2 text-danger">delete</i>
      Access Code
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-new-visit-code></app-new-visit-code>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="close()">Close</button>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="material-icons p-md-2 text-danger">delete</i>
      Delete Access Code
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the access code for your visit <b>{{ visit?.name }}</b>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button
      type="button"
      class="btn btn-danger"
      ngbAutofocus
      (click)="confirmDelete(administratorID, residenceID, residentID, visit.visitorID)"
    >
      Delete
    </button>
  </div>
</ng-template>
