<div class="container p-3">
  <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
    <div class="card">
      <div class="card-header  font-weight-bold">
        Login
      </div>
      <div class="card card-body">
        <div class="form-group">
          <button class="btn btn-outline-primary d-inline m-1 w-100" (click)="loginWithFacebook()">Login with Facebook</button>
          <br />
          <button class="btn btn-outline-danger d-inline m-1 w-100" (click)="loginWithGoogle()">Login with Google</button>
        </div>

        <form [formGroup]="frmSignup">
          <div class="form-group">
            <label for="">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              name="email"
              id="email"
              autocomplete="username"
              placeholder="Ingrese su email"
              [ngClass]="frmSignup.controls['email'].invalid ? 'is-invalid' : ''"
            />
          </div>
          <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('required')">
            Email is Required!
          </label>
          <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('email')">
            Enter a valid email address!
          </label>
          <div class="form-group">
            <label for="">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              name="password"
              id="password"
              autocomplete="current-password"
              placeholder="Ingrese su password"
              [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''"
            />
          </div>
          <label class="text-danger" *ngIf="frmSignup.controls['password'].hasError('required')">
            Password is Required!
          </label>
          <div class="form-group">
            <button
              type="button"
              [disabled]="frmSignup.invalid"
              class="btn btn-primary btn-block font-weight-bold"
              (click)="authenticate()"
            >
              Login
            </button>
            <label for="" class="text-danger btn-block text-center">{{ msj }}</label>
          </div>
          <a routerLink="/forget-password" class="btn-block text-center">Did you forget your password?</a>
          <a routerLink="/register" class="btn-block text-center">Register</a>
        </form>
      </div>
    </div>
  </div>
</div>
