<div class="container p-2">
  <div class="row py-2">
    <div class="col">
      <div>
        <a routerLink="/residentHome/{{ administratorID }}/{{ residenceID }}/{{ uid }}" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
  <form [formGroup]="frmVisitor">
    <div class="card-header  font-weight-bold"><i class="material-icons">security</i> Visit - Access code generator</div>
    <div class="card card-body" (click)="uploadImage(content)" style="cursor:pointer">
      <!-- <img src="assets/dui.png" class="card-img-top text-center mx-auto rounded border border-primary p-3"    alt="..."> -->
      <img width="320" height="200" [src]="croppedImage ? croppedImage : '/assets/dui.png'" />
      <div
        *ngIf="!croppedImage"
        class="card-img-overlay text-wrap"
        [ngClass]="frmVisitor.controls['documentImage'].invalid ? 'text-danger' : ''"
      >
        <h5 class="card-title text-center p-3"><i class="material-icons" style="font-size:40px">add_photo_alternate</i></h5>
        <p class="card-text text-center">
          Please upload the <br />
          <b>{{ frmVisitor.controls['documentType'].value }}</b> image
        </p>
      </div>
    </div>
    <div class="card card-body">
      <div class="row py-2">
        <div class="col-12">
          <label
            for="documentType"
            [ngClass]="frmVisitor.controls['documentType'].invalid || frmVisitor.controls['documentNumber'].invalid ? 'text-danger' : ''"
            >Identification Document</label
          >
        </div>
        <div class="input-group">
          <div class="btn-group btn-group-toggle py-1 col-md-7 col-sm-12" ngbRadioGroup name="radioBasic" formControlName="documentType">
            <label ngbButtonLabel class="btn-primary"> <input ngbButton type="radio" value="DPI" /> DPI </label>
            <label ngbButtonLabel class="btn-primary"> <input ngbButton type="radio" value="Driver's License" /> Driver's License </label>
            <label ngbButtonLabel class="btn-primary"> <input ngbButton type="radio" value="Passport" /> Passport </label>
          </div>
          <div class="col-md-5 col-sm-12 py-1 inline-block">
            <input
              type="text"
              formControlName="documentNumber"
              [ngClass]="frmVisitor.controls['documentNumber'].invalid ? 'is-invalid' : ''"
              class="form-control mx-auto"
              id="documentNumber"
              placeholder="{{ frmVisitor.controls['documentType'].value }} number"
            />
            <!--  -->
          </div>
          <div class="offset-md-7 col-md-4 col-sm-12">
            <label class=" text-danger small" *ngIf="frmVisitor.controls['documentNumber'].hasError('required')">
              {{ frmVisitor.controls['documentType'].value }} is required!
            </label>
          </div>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-12">
          <label for="documentType" [ngClass]="frmVisitor.controls['vehiculeType'].invalid ? 'text-danger' : ''">Vehicule</label>
        </div>
        <div class="input-group">
          <div class="btn-group btn-group-toggle py-1 col-md-7 col-sm-12" ngbRadioGroup name="radioBasic" formControlName="vehiculeType">
            <label ngbButtonLabel class="btn-primary"> <input ngbButton type="radio" value="Car" /> Car </label>
            <label ngbButtonLabel class="btn-primary"> <input ngbButton type="radio" value="Motorcicle" /> Motorcicle </label>
            <label ngbButtonLabel class="btn-primary"> <input ngbButton type="radio" value="Bus" /> Bus </label>
            <label ngbButtonLabel class="btn-primary"> <input ngbButton type="radio" value="Peatonal" /> Peatonal </label>
          </div>
          <div class="col-md-5 col-sm-12 py-1 inline-block">
            <input
              type="text"
              formControlName="badge"
              [readonly]="frmVisitor.controls['vehiculeType'].value == 'Peatonal'"
              class="form-control mx-auto"
              id="badge"
              placeholder="{{
                frmVisitor.controls['vehiculeType'].value == 'Peatonal' ? '' : frmVisitor.controls['vehiculeType'].value + ' badge number'
              }} "
            />
            <!--  -->
          </div>
          <div class="offset-md-7 col-md-4 col-sm-12">
            <label class=" text-danger small" *ngIf="frmVisitor.controls['badge'].hasError('required')">
              {{ frmVisitor.controls['vehiculeType'].value }} is required!
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="documentType" [ngClass]="frmVisitor.controls['visitDate'].invalid ? 'text-danger' : ''">Visit date</label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="input-group">
            <input
              class="form-control"
              [ngClass]="frmVisitor.controls['visitDate'].invalid ? 'is-invalid' : ''"
              placeholder="yyyy-mm-dd"
              name="dp"
              formControlName="visitDate"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                <i class="material-icons">calendar_today</i>
              </button>
            </div>
            <label class=" text-danger small" *ngIf="frmVisitor.controls['visitDate'].hasError('required')">
              Visit is required!
            </label>
          </div>
          <button class="btn btn-sm btn-outline-primary m-1 col-3" (click)="selectToday(0)">Today</button>
          <button class="btn btn-sm btn-outline-primary m-1 col-4" (click)="selectToday(1)">Tomorrow</button>
          <button class="btn btn-sm btn-outline-primary m-1 col-4" (click)="selectToday(2)">Day after tomorrow</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="name" [ngClass]="frmVisitor.controls['name'].invalid ? 'text-danger' : ''">Full name</label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input
              id="name"
              formControlName="name"
              type="text"
              class="form-control"
              [ngClass]="frmVisitor.controls['name'].invalid ? 'is-invalid' : ''"
              placeholder="First and last name"
            />
            <label class="text-danger small" *ngIf="frmVisitor.controls['name'].hasError('required')">
              Full name is required!
            </label>
            <label class="text-danger small" *ngIf="frmVisitor.controls['name'].hasError('minlength')">
              Full name must have at least 6 characters
            </label>
            <label class="text-danger small" *ngIf="frmVisitor.controls['name'].hasError('maxlength')">
              Full name max is 50 characters
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="email" class="col-form-label" [ngClass]="frmVisitor.controls['email'].invalid ? 'text-danger' : ''"
            >Email Address</label
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input
              id="email"
              formControlName="email"
              type="email"
              class="form-control"
              placeholder="example@ingresapp.com"
              [ngClass]="frmVisitor.controls['email'].invalid ? 'is-invalid' : ''"
            />
            <label class="text-danger small" *ngIf="frmVisitor.controls['email'].hasError('required')">
              Email is Required!
            </label>
            <label class="text-danger small" *ngIf="frmVisitor.controls['email'].hasError('email')">
              Enter a valid email address!
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-4 col-5">
          <div class="form-group inline-block">
            <label for="code" class="col-form-label" [ngClass]="frmVisitor.controls['code'].invalid ? 'text-danger' : ''">Code</label>
            <input
              id="code"
              formControlName="code"
              type="number"
              [ngClass]="frmVisitor.controls['code'].invalid ? 'is-invalid' : ''"
              class="form-control inline-block"
              placeholder="502"
            />
            <label class="text-danger small" *ngIf="frmVisitor.controls['code'].hasError('required')">
              Code is required!
            </label>
            <label class="text-danger small" *ngIf="frmVisitor.controls['code'].hasError('pattern')">
              Only numbers are allowed
            </label>
            <label
              class="text-danger small"
              *ngIf="frmVisitor.controls['code'].hasError('max') || frmVisitor.controls['code'].hasError('min')"
            >
              Code max is 3 digits
            </label>
          </div>
        </div>
        <div class="col-md-10 col-sm-8 col-7">
          <div class="form-group inline-block">
            <label for="number" class="col-form-label" [ngClass]="frmVisitor.controls['number'].invalid ? 'text-danger' : ''"
              >Phone number</label
            >
            <input
              id="number"
              formControlName="number"
              type="number"
              [ngClass]="frmVisitor.controls['number'].invalid ? 'is-invalid' : ''"
              class="form-control inline-block"
              placeholder="12345456"
            />
            <label class="text-danger small" *ngIf="frmVisitor.controls['number'].hasError('required')">
              Number is required and only number are allowed!
            </label>
            <label class="text-danger small" *ngIf="frmVisitor.controls['number'].hasError('pattern')">
              Only numbers are allowed
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <label for="number" class="col-form-label">Options</label>
        </div>
        <div class="col-md-10 col-sm-12">
          <div class="btn-group btn-group-toggle">
            <label [ngClass]="frmVisitor.controls['sendEmail'].value ? 'btn-success' : 'btn-light'" ngbButtonLabel>
              <input type="checkbox" formControlName="sendEmail" ngbButton /><i class="material-icons"
                >{{ frmVisitor.controls['sendEmail'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
              ><i class="material-icons">email</i> Email
            </label>
            <label [ngClass]="frmVisitor.controls['sendSMS'].value ? 'btn-success' : 'btn-light'" ngbButtonLabel>
              <input type="checkbox" formControlName="sendSMS" ngbButton /><i class="material-icons"
                >{{ frmVisitor.controls['sendSMS'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
              ><i class="material-icons">sms</i> SMS
            </label>
            <label [ngClass]="frmVisitor.controls['saveRecurrent'].value ? 'btn-success' : 'btn-light'" ngbButtonLabel>
              <input type="checkbox" formControlName="saveRecurrent" ngbButton /><i class="material-icons"
                ><i class="material-icons"
                  >{{ frmVisitor.controls['saveRecurrent'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                >replay</i
              >
              Save as recurrent
            </label>
            <label [ngClass]="frmVisitor.controls['notificateMe'].value ? 'btn-success' : 'btn-light'" ngbButtonLabel>
              <input type="checkbox" formControlName="notificateMe" ngbButton /><i class="material-icons"
                ><i class="material-icons"
                  >{{ frmVisitor.controls['notificateMe'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                >rss_feed</i
              >
              Notificate Me
            </label>
          </div>
        </div>
      </div>
      <div class="row p-4">
        <div class="col-12 text-center">
          <div class="titles">
            {{ code }}
          </div>
          <div style="cursor: pointer" class="text-success">
            <i class="material-icons" (click)="gc()"><span class="h1">sync</span> </i>&nbsp;
          </div>
        </div>
      </div>
      <div class="row p-4">
        <div class="form-group col-6">
          <button type="button" value="" (click)="cancel()" class="btn btn-light btn-block font-weight-bold">
            Cancel
          </button>
        </div>
        <div class="form-group col-6">
          <button
            [disabled]="frmVisitor.invalid"
            type="button"
            value=""
            (click)="save()"
            class="btn btn-primary btn-block font-weight-bold"
          >
            <i class="material-icons">security</i>
            Generate Code
          </button>
        </div>
      </div>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="material-icons p-md-2 text-danger">camera_alt</i>
          Upload document image
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="file" formControlName="documentImage" (change)="fileChangeEvent($event)" />

        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="5 / 3.125"
          [resizeToWidth]="600"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-success" ngbAutofocus (click)="modal.close('Close click')">
          Upload
        </button>
      </div>
    </ng-template>
    <div class="row  py-4">
      <div class="col"></div>
    </div>
  </form>
</div>
