<nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" *ngIf="!loggedIn" routerLink=""> IngresApp </a>
    <a class="navbar-brand" *ngIf="loggedIn" routerLink="/administrator"> IngresApp <span *ngIf="!loggedIn">/ Administrator</span> </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" *ngIf="!loggedIn">
          <a class="nav-link" routerLink="process">Proceso</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!loggedIn">
          <a class="nav-link" routerLink="price">Precios</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!loggedIn">
          <a class="nav-link" routerLink="faq">FAQ</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!loggedIn">
          <a class="nav-link" routerLink="support">Soporte y Mantenimiento</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" *ngIf="!loggedIn">
        <button class="btn btn-outline-success my-2 mr-1 my-sm-0" routerLink="login" type="button">
          Login
        </button>
      </form>
      <form class="form-inline my-2 my-lg-0" *ngIf="!loggedIn">
        <button class="btn btn-outline-success my-2 mr-1 my-sm-0" routerLink="register" type="button">
          Registrarse
        </button>
      </form>
      <form class="form-inline my-2 my-lg-0" *ngIf="loggedIn">
        <ul class="nav nav-tabs navbar-dark bg-dark">
          <li class="nav-item dropdown bg-dark">
            <a
              class="nav-link text-white bg-dark dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >{{ email }}</a
            >
            <div class="dropdown-menu  bg-dark">
              <a class="dropdown-item bg-dark" style="cursor:pointer" routerLink="{{menu}}">
                <label for=""  style="cursor:pointer"  class="text-white">Administrate your account</label>
              </a>
              <a class="dropdown-item  bg-dark ">
                  <label for=""  style="cursor:pointer" (click)="logOut()"  class="text-danger">Log out</label>

              </a>
            </div>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLoginLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalRegistrarse" tabindex="-1" role="dialog" aria-labelledby="modalRegistrarseLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRegistrarseLabel">Registrarse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
