<div class="container p-4">
  <div class="row py-2">
    <div class="col">
      <div><a routerLink="/guard/{{ administratorID }}/{{ residenceID }}" class="btn btn-secondary">Back</a>&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header  font-weight-bold"><i class="material-icons">security</i> New Guard</div>
        <div class="card card-body">
          <form [formGroup]="frmGuard">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label
                  for="name"
                  class="col-form-label col-form-label-sm"
                  [ngClass]="frmGuard.controls['name'].invalid ? 'text-danger' : ''"
                  >Full name</label
                >
                <input
                  id="name"
                  formControlName="name"
                  type="text"
                  class="form-control form-control-sm"
                  [ngClass]="frmGuard.controls['name'].invalid ? 'is-invalid' : ''"
                  placeholder="First and last name"
                />
                <label class="text-danger small" *ngIf="frmGuard.controls['name'].hasError('required')">
                  Full name is required!
                </label>
                <label class="text-danger small" *ngIf="frmGuard.controls['name'].hasError('minlength')">
                  Full name must have at least 6 characters
                </label>
                <label class="text-danger small" *ngIf="frmGuard.controls['name'].hasError('maxlength')">
                  Full name max is 50 characters
                </label>
              </div>
              <div class="form-group col-5 col-md-2">
                <label
                  for="code"
                  class="col-form-label col-form-label-sm"
                  [ngClass]="frmGuard.controls['code'].invalid ? 'text-danger' : ''"
                  >Code</label
                >
                <input
                  id="code"
                  formControlName="code"
                  type="number"
                  [ngClass]="frmGuard.controls['code'].invalid ? 'is-invalid' : ''"
                  class="form-control form-control-sm"
                  placeholder="502"
                />
                <label class="text-danger small" *ngIf="frmGuard.controls['code'].hasError('required')">
                  Code is required!
                </label>
                <label class="text-danger small" *ngIf="frmGuard.controls['code'].hasError('pattern')">
                  Only numbers are allowed
                </label>
                <label class="text-danger small" *ngIf="frmGuard.controls['code'].hasError('max') || frmGuard.controls['code'].hasError('min')">
                  Code max is 3 digits
                </label>
              </div>
              <div class="form-group col-7 col-md-10">
                <label
                  for="number"
                  class="col-form-label col-form-label-sm"
                  [ngClass]="frmGuard.controls['number'].invalid ? 'text-danger' : ''"
                  >Phone number</label
                >
                <input
                  id="number"
                  formControlName="number"
                  type="number"
                  [ngClass]="frmGuard.controls['number'].invalid ? 'is-invalid' : ''"
                  class="form-control form-control-sm"
                  placeholder="12345456"
                />
                <label class="text-danger small" *ngIf="frmGuard.controls['number'].hasError('required')">
                  Number is required and only number are allowed!
                </label>
                <label class="text-danger small" *ngIf="frmGuard.controls['number'].hasError('pattern')">
                  Only numbers are allowed
                </label>
              </div>
              <div class="col-9">
                <label
                  for="userName"
                  class="col-form-label col-form-label-sm"
                  [ngClass]="frmGuard.controls['userName'].invalid ? 'text-danger' : ''"
                  >User name</label
                >
              </div>
              <div class="form-group  col-md-10 col-sm-12">
                <input
                  id="userName"
                  formControlName="userName"
                  type="text"
                  [readonly]="uid != 0"
                  [ngClass]="frmGuard.controls['userName'].invalid ? 'is-invalid' : ''"
                  class="form-control form-control-sm"
                  placeholder="It could be an email"
                />
                <label class="text-danger small" *ngIf="frmGuard.controls['userName'].hasError('required')">
                  User name is required!
                </label>
                <label class="text-danger small" *ngIf="frmGuard.controls['userName'].hasError('maxlength')">
                  Username max is 30 characters
                </label>
              </div>

              <div class="form-group col-md-2 col-sm-12">
                <input
                  type="button"
                  class="btn btn-secondary btn-sm btn-block "
                  [disabled]="uid != 0"
                  (click)="generateUser()"
                  value="Generate"
                />
              </div>
              <div class="col-9">
                <label
                  for="password"
                  class="col-form-label col-form-label-sm"
                  [ngClass]="frmGuard.controls['password'].invalid ? 'text-danger' : ''"
                  >Login token</label
                >
              </div>
              <div class="form-group col-md-10 col-sm-12">
                <input
                  id="password"
                  formControlName="password"
                  type="number"
                  [ngClass]="frmGuard.controls['password'].invalid ? 'is-invalid' : ''"
                  class="form-control form-control-sm"
                  placeholder="Only numbers"
                />
                <label class="text-danger small" *ngIf="frmGuard.controls['password'].hasError('required')">
                  Login token is required!
                </label>
                <label class="text-danger small" *ngIf="frmGuard.controls['password'].hasError('pattern')">
                  Only numbers are allowed!
                </label>
                <label class="text-danger small" *ngIf="frmGuard.controls['password'].hasError('max') || frmGuard.controls['password'].hasError('min')">
                  Token must have between 6 and 10 digits
                </label>
                
              </div>
              <div class="form-group col-md-2 col-sm-12">
                <input type="button" class="btn btn-secondary btn-sm btn-block" (click)="generateLoginToken()" value="Generate" />
              </div>
              <div class="form-group col-12">
                <button
                  [disabled]="frmGuard.invalid"
                  type="button"
                  value=""
                  (click)="save()"
                  class="btn btn-primary btn-block font-weight-bold"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
