<div class="container">
  <div class="row p-4">
    <div class="col">
    </div>
  </div>
  <div class="row p-4 ">
    <div class=" offset-md-2 col-md-8 offset-lg-3 col-lg-6">
      <a routerLink="/guardHome/{{ administratorID }}/{{ residenceID }}/{{ guardID }}" class="btn btn-secondary my-2">Back</a>
<br>
      <div class="card " [ngClass]="evaluado ? (valido ? 'bg-success text-white' : 'bg-danger text-white') : ''">
        <div class="card-header font-weight-bold">
          Enter an Access Code
        </div>
        <div class="card card-body" [ngClass]="evaluado ? (valido ? 'bg-success text-white' : 'bg-danger text-white') : ''">
          <form [formGroup]="frmCode">
            <div class="form-group form-group-lg">
              <label for="" class="col-12 h2 m-2 text-center">Access {{ evaluado ? (valido ? 'Granted!!!' : 'Denied') : 'Code' }} </label>
              <input
                type="visitCode"
                class="form-control form-control-lg col-12 my-4 text-center h2"
                formControlName="visitCode"
                name="visitCode"
                id="visitCode"
                placeholder="Enter the access code"
                [ngClass]="frmCode.controls['visitCode'].invalid ? 'is-invalid' : ''"
              />
            </div>
            <div class="form-group inline-block">
              <button type="button" [disabled]="frmCode.invalid" class="btn btn-primary btn-block p-4 btn-lg " (click)="tryAccessCode()">
                Try Access Code
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
