<div class="container p-2">
  <div class="row">
    <div class="col">
      <div class="titles" [ngClass]="resident?.status == 1 ? 'text-danger' : ''">
        <i class="material-icons titles">{{ residence?.type == 'Residence' ? 'house' : 'business' }} </i> {{ residence?.name }}
      </div>
    </div>
  </div>
  <div *ngIf="resident?.status == 1" class="row">
    <div class="col">
      <span class="text-danger h4">Your profile is pending approval by your administrator</span>
    </div>
  </div>
  <div *ngIf="resident?.status == 3" class="row">
    <div class="col">
      <span class="text-danger h4"
        >Your profile has been rejected by the administrator whit this comments: <b><br />{{ resident?.comments }}</b></span
      >
    </div>
  </div>
  <div *ngIf="resident?.status == 99" class="row">
    <div class="col">
      <span class="text-danger h4"
        >Your profile has been deleted by the administrator whit this comments: <b><br />{{ resident?.comments }}</b></span
      >
    </div>
  </div>
  <div class="row  py-4">
    <div class="col py-2">
      <div class="card text-center mx-auto shadow" style="width: 18rem;">
        <div class="card-body">
          <div (click)="goVisitor()" style="cursor: pointer">
            <h5 class="card-title pointer">
              <a class="text-decoration-none">
                <i
                  class="material-icons p-4  rounded-circle text-white h1"
                  [ngClass]="resident?.status == 2 ? 'bg-primary' : 'bg-secondary'"
                  >how_to_reg</i
                >
                <br />
              </a>
              My visitors
            </h5>
            <p class="card-text py-1">Administrate your visits</p>
          </div>

          <ul
            routerLink="/newVisit/{{ administratorID }}/{{ residenceID }}/{{ uid }}/0"
            *ngIf="resident?.status == 2"
            style="cursor: pointer"
            class="list-group list-group-flush"
          >
            <li class="list-group-item ">
              <a class="card-link text-success"><i class="material-icons">add_circle_outline</i> New Visitor</a>
            </li>
          </ul>
          <ul
            routerLink="/newVisitRecurrent/{{ administratorID }}/{{ residenceID }}/{{ uid }}"
            *ngIf="resident?.status == 2"
            style="cursor: pointer"
            class="list-group list-group-flush"
          >
            <li class="list-group-item ">
              <a class="card-link text-info"><i class="material-icons">replay</i> Recurrents ({{ resident?.Recurrent?.length }})</a>
            </li>
          </ul>
          <ul
            routerLink="/newVisitPending/{{ administratorID }}/{{ residenceID }}/{{ uid }}"
            *ngIf="resident?.status == 2"
            style="cursor: pointer"
            class="list-group list-group-flush"
          >
            <li class="list-group-item ">
              <a class="card-link text-warning"><i class="material-icons">access_time</i> Pending ({{ resident?.Visitor?.length }})</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col py-2">
      <div class="card text-center mx-auto shadow" style="width: 18rem;">
        <div class="card-body">
          <!-- <div routerLink="/residentConfiguration/{{ administratorID }}/{{ residenceID }}/{{ uid }}" style="cursor: pointer"> -->
          <div>
            <h5 class="card-title pointer">
              <a class="text-decoration-none">
                <i class="material-icons p-4 bg-light rounded-circle text-muted h1">rate_review</i> <br />
              </a>
              Requests
            </h5>
            <p class="card-text text-muted">
              Make easy reservations of the social area of your residence or office, receive the confirmation and enjoy your event!
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="badge badge-warning">Soon!</span>&nbsp;
              <i class="material-icons text-primary" (click)="poll(residenceID,'resident', 'requests', true)" style="cursor:pointer">thumb_up</i>&nbsp;
              <i class="material-icons text-danger" (click)="poll( residenceID,'resident', 'requests', false)" style="cursor:pointer">thumb_down</i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-2">
      <div class="card text-center mx-auto shadow" style="width: 18rem;">
        <div class="card-body">
          <!-- <div routerLink="/residentConfiguration/{{ administratorID }}/{{ residenceID }}/{{ uid }}" style="cursor: pointer"> -->
          <div>
            <h5 class="card-title pointer">
              <a class="text-decoration-none"> <i class="material-icons p-4 bg-light rounded-circle text-muted h1">chat</i> <br /> </a>
              Messages
            </h5>
            <p class="card-text text-muted">Facilitate your communications with your administrator</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="badge badge-warning">Soon!</span>&nbsp;
              <i class="material-icons text-primary" (click)="poll(residenceID,'resident', 'messages', true)" style="cursor:pointer">thumb_up</i>&nbsp;
              <i class="material-icons text-danger" (click)="poll(residenceID,'resident', 'messages', false)" style="cursor:pointer">thumb_down</i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-2">
      <div class="card text-center mx-auto shadow" style="width: 18rem;">
        <div class="card-body">
          <div routerLink="/residentConfiguration/{{ administratorID }}/{{ residenceID }}/{{ uid }}" style="cursor: pointer">
            <h5 class="card-title pointer">
              <a class="text-decoration-none">
                <i class="material-icons p-4 bg-primary rounded-circle text-white h1">settings_applications</i> <br />
              </a>
              Configuration
            </h5>
            <p class="card-text py-1">Configurate your account</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="resident?.status == 2" class="col py-2 ">
      <div class="card text-center mx-auto shadow" style="width: 18rem;">
        <div class="card-body">
          <div routerLink="/residentReports/{{ administratorID }}/{{ residenceID }}/{{ uid }}" style="cursor: pointer">
            <h5 class="card-title pointer">
              <a class="text-decoration-none">
                <i class="material-icons p-4 bg-primary rounded-circle text-white h1">table_chart</i> <br />
              </a>
              Reports
            </h5>
            <p class="card-text py-1">Get your visitors reports</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
