<div class="container p-2">
  <div *ngIf="!equal" class="row py-2">
    <div class="col">

      <div><a routerLink="/resident/{{ administratorID }}/{{ residenceID }}" class="btn btn-secondary">Back</a>&nbsp;</div>
    </div>
  </div>
  <form [formGroup]="frmResident">
    <div class="card-header  font-weight-bold">
      <i class="material-icons">person</i> <span *ngIf="uid == 0" New></span> Resident
      <span *ngIf="equal && frmResident.invalid" class="text-danger h3">You have to fill de form to complete the registration</span>
    </div>
    <div *ngIf="equal || uid != 0" class="card card-body" (click)="uploadImage(content)" style="cursor:pointer">
      <!-- <img src="assets/dui.png" class="card-img-top text-center mx-auto rounded border border-primary p-3"    alt="..."> -->
      <img width="300" height="300" [src]="croppedImage ? croppedImage : '/assets/resident.png'" />
      <div *ngIf="!croppedImage" class="card-img-overlay text-wrap" [ngClass]="frmResident.controls['image'].invalid ? 'text-danger' : ''">
        <h5 class="card-title text-center p-3"><i class="material-icons" style="font-size:40px">add_photo_alternate</i></h5>
        <p class="card-text text-center">
          Please upload the image <br />
          of the front of your {{ frmResident.controls['residenceType'].value }}
        </p>
      </div>
    </div>
    <div class="card card-body">
      <div>
        <div class="form-group row">
          <label
            for="residenceCode"
            class="col-form-label col-md-2 col-sm-12"
            [ngClass]="frmResident.controls['residenceCode'].invalid ? 'text-danger' : ''"
            >Residence Code:</label
          >
          <input
            id="residenceCode"
            formControlName="residenceCode"
            type="text"
            class="form-control h4 col-md-3 col-sm-12"
            [readonly]="residenceID != '0' || residenceID != 0 || residenceID.length > 0"
            [ngClass]="frmResident.controls['residenceCode'].invalid ? 'is-invalid' : ''"
          />
          <label for="residenceName" class="col-form-label col-md-7 col-sm-12"
            ><span class="h4"> {{ residence?.name }}</span></label
          >
        </div>
        <div class="form-group row">
          <label for="name" class="col-form-label col-md-2 col-sm-12 " [ngClass]="frmResident.controls['name'].invalid ? 'text-danger' : ''"
            >Full name:</label
          >
          <input
            id="name"
            formControlName="name"
            [readonly]="!equal && uid != 0"
            type="text"
            class="form-control col-md-10  col-sm-12"
            [ngClass]="frmResident.controls['name'].invalid ? 'is-invalid' : ''"
            placeholder="First and last name"
          />
          <label class="offset-md-2 col-md-10 col-sm-12  text-danger small" *ngIf="frmResident.controls['name'].hasError('required')">
            Full name is required!
          </label>
          <label class="offset-md-2 col-md-10 col-sm-12 text-danger small" *ngIf="frmResident.controls['name'].hasError('minlength')">
            Full name must have at least 6 characters
          </label>
          <label class="offset-md-2 col-md-10 col-sm-12 text-danger small" *ngIf="frmResident.controls['name'].hasError('maxlength')">
            Full name max is 50 characters
          </label>
        </div>

        <div class="form-group row">
          <label for="email" class="col-form-label col-md-2 col-12" [ngClass]="frmResident.controls['email'].invalid ? 'text-danger' : ''"
            >Email:
          </label>
          <input
            id="email"
            formControlName="email"
            type="email"
            class="form-control col-md-10 col-12 "
            autocomplete="username email"
            [readonly]="equal || (uid != 0 && !equal)"
            [ngClass]="frmResident.controls['email'].invalid ? 'is-invalid' : ''"
          />
          <label class="offset-md-2 col-md-10 col-sm-12 text-danger small" *ngIf="frmResident.controls['email'].hasError('required')">
            Email is Required!
          </label>
          <label class="offset-md-2 col-md-10 col-sm-12 text-danger small" *ngIf="frmResident.controls['email'].hasError('email')">
            Enter a valid email address!
          </label>
        </div>
        <div class="form-group row">
          <label
            for="residenceType"
            class="col-form-label-md col-md-2 col-sm-12"
            [ngClass]="frmResident.controls['residenceType'].invalid ? 'text-danger' : ''"
            >Residence type:</label
          >
          <fieldset class="col-md-5 col-sm-12" [disabled]="!equal && uid != 0">
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="residenceType">
              <label ngbButtonLabel class="btn-primary">
                <input
                  ngbButton
                  [ngClass]="frmResident.controls['residenceType'].invalid ? 'bg-danger' : ''"
                  type="radio"
                  value="House"
                />House</label
              >
              <label ngbButtonLabel class="btn-primary">
                <input
                  ngbButton
                  type="radio"
                  [ngClass]="frmResident.controls['residenceType'].invalid ? 'bg-danger' : ''"
                  value="Apartment"
                />Apartment</label
              >
            </div>
          </fieldset>
          <input
            id="residenceNumber"
            formControlName="residenceNumber"
            [readonly]="!equal && uid != 0"
            type="text"
            class="form-control col-md-5 col-sm-12"
            placeholder="{{ frmResident.controls['residenceType'].value }} number"
            [ngClass]="frmResident.controls['residenceNumber'].invalid ? 'is-invalid' : ''"
          />
          <!-- <div class=" col-md-3 col-sm-3">
              <label for="residenceNumber" class="col-form-label col-form-label-sm"
                >{{ frmResident.controls['residenceType'].value }} number:</label
              >
            </div> -->
        </div>

        <div class="form-group row">
          <label
            for="streetType"
            class="col-form-label col-md-2 col-sm-12"
            [ngClass]="frmResident.controls['streetType'].invalid ? 'text-danger' : ''"
            >Address:</label
          >
          <fieldset class="form-group col-md-5 col-sm-12" [disabled]="!equal && uid != 0">
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="streetType">
              <label ngbButtonLabel class="btn-primary">
                <input
                  ngbButton
                  [ngClass]="frmResident.controls['streetType'].invalid ? 'bg-danger' : ''"
                  type="radio"
                  value="Street"
                />Street</label
              >
              <label ngbButtonLabel class="btn-primary">
                <input
                  ngbButton
                  type="radio"
                  [ngClass]="frmResident.controls['streetType'].invalid ? 'bg-danger' : ''"
                  value="Avenue"
                />Avenue</label
              >
            </div>
            <!-- <div class="btn-group btn-group-toggle inline-block " data-toggle="buttons">
              <label class="btn btn-primary active" style="cursor: pointer" for="streetType1">
                <input type="radio" formControlName="streetType" name="streetType" id="streetType1" value="Street" />
                Street</label
              >
              <label class="btn btn-primary" style="cursor: pointer" for="streetType2">
                <input type="radio" formControlName="streetType" name="streetType" id="streetType2" value="Avenue" />Avenue</label
              >
            </div> -->
          </fieldset>
          <input
            id="street"
            formControlName="street"
            type="text"
            [readonly]="!equal && uid != 0"
            class="form-control col-md-5 col-sm-12"
            placeholder="{{ frmResident.controls['streetType'].value }} number"
            [ngClass]="frmResident.controls['street'].invalid ? 'is-invalid' : ''"
          />
        </div>
        <div class="form-group row">
          <label for="level" class="col-form-label col-md-2 col-sm-4" [ngClass]="frmResident.controls['level'].invalid ? 'text-danger' : ''"
            >Level:</label
          >
          <input
            id="level"
            formControlName="level"
            [readonly]="!equal && uid != 0"
            type="number"
            class="form-control col-md-4 col-sm-8"
            placeholder="Level number"
            [ngClass]="frmResident.controls['level'].invalid ? 'is-invalid' : ''"
          />
          <label
            class="text-danger small offset-md-8  col-md-4 "
            *ngIf="
              frmResident.controls['level'].hasError('max') ||
              frmResident.controls['level'].hasError('min') ||
              frmResident.controls['level'].hasError('pattern')
            "
          >
            Only numbers between -20 and 999 are allowed!
          </label>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4 col-5">
            <div class="form-group inline-block">
              <label for="code" class="col-form-label " [ngClass]="frmResident.controls['code'].invalid ? 'text-danger' : ''">Code</label>
              <input
                id="code"
                formControlName="code"
                type="number"
                [readonly]="!equal && uid != 0"
                [ngClass]="frmResident.controls['code'].invalid ? 'is-invalid' : ''"
                class="form-control "
                placeholder="502"
              />
              <label class="text-danger small" *ngIf="frmResident.controls['code'].hasError('required')">
                Code is required!
              </label>
              <label class="text-danger small" *ngIf="frmResident.controls['code'].hasError('pattern')">
                Only numbers are allowed
              </label>
              <label
                class="text-danger small"
                *ngIf="frmResident.controls['code'].hasError('max') || frmResident.controls['code'].hasError('min')"
              >
                Code max is 3 digits
              </label>
            </div>
          </div>
          <div class="col-md-10 col-sm-8 col-7">
            <div class="form-group inline-block">
              <label for="number" class="col-form-label " [ngClass]="frmResident.controls['number'].invalid ? 'text-danger' : ''"
                >Phone number</label
              >
              <input
                id="number"
                formControlName="number"
                [readonly]="!equal && uid != 0"
                type="number"
                [ngClass]="frmResident.controls['number'].invalid ? 'is-invalid' : ''"
                class="form-control "
                placeholder="12345456"
              />
              <label class="text-danger small" *ngIf="frmResident.controls['number'].hasError('required')">
                Number is required and only number are allowed!
              </label>
              <label class="text-danger small" *ngIf="frmResident.controls['number'].hasError('pattern')">
                Only numbers are allowed
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group "></div>
      <div *ngIf="uid == 0" class="form-group">
        <label
          for="password"
          class="col-form-label col-form-label-sm"
          [ngClass]="frmResident.controls['password'].invalid ? 'text-danger' : ''"
          >Password:</label
        >
        <input
          id="password"
          formControlName="password"
          type="password"
          autocomplete="new-password"
          class="form-control "
          [ngClass]="frmResident.controls['password'].invalid ? 'is-invalid' : ''"
        />
        <!-- <label class="text-danger col" *ngIf="frmResident.controls['password'].hasError('required')">
                              Password is Required!
                            </label> -->
        <label
          class="col"
          [ngClass]="
            frmResident.controls['password'].hasError('required') || frmResident.controls['password'].hasError('minlength')
              ? 'text-danger'
              : 'text-success'
          "
        >
          <i class="material-icons">{{
            frmResident.controls['password'].hasError('required') || frmResident.controls['password'].hasError('minlength')
              ? 'cancel'
              : 'check_circle'
          }}</i>
          Must be at least 8 characters!
        </label>
        <label
          class="col"
          [ngClass]="
            frmResident.controls['password'].hasError('required') || frmResident.controls['password'].hasError('hasNumber')
              ? 'text-danger'
              : 'text-success'
          "
        >
          <i class="material-icons">{{
            frmResident.controls['password'].hasError('required') || frmResident.controls['password'].hasError('hasNumber')
              ? 'cancel'
              : 'check_circle'
          }}</i>
          Must contain at least 1 number!
        </label>
        <label
          class="col"
          [ngClass]="
            frmResident.controls['password'].hasError('required') || frmResident.controls['password'].hasError('hasCapitalCase')
              ? 'text-danger'
              : 'text-success'
          "
        >
          <i class="material-icons">{{
            frmResident.controls['password'].hasError('required') || frmResident.controls['password'].hasError('hasCapitalCase')
              ? 'cancel'
              : 'check_circle'
          }}</i>
          Must contain at least 1 in Capital Case!
        </label>
        <label
          class="col"
          [ngClass]="
            frmResident.controls['password'].hasError('required') || frmResident.controls['password'].hasError('hasSmallCase')
              ? 'text-danger'
              : 'text-success'
          "
        >
          <i class="material-icons">{{
            frmResident.controls['password'].hasError('required') || frmResident.controls['password'].hasError('hasSmallCase')
              ? 'cancel'
              : 'check_circle'
          }}</i>
          Must contain at least 1 Letter in Small Case!
        </label>
        <label
          class="col"
          [ngClass]="
            frmResident.controls['password'].hasError('required') || frmResident.controls['password'].hasError('hasSpecialCharacters')
              ? 'text-danger'
              : 'text-success'
          "
        >
          <i class="material-icons">{{
            frmResident.controls['password'].hasError('required') || frmResident.controls['password'].hasError('hasSpecialCharacters')
              ? 'cancel'
              : 'check_circle'
          }}</i>
          Must contain at least 1 Special Character!
        </label>
      </div>
      <div *ngIf="uid == 0" class="form-group col-md-12">
        <label
          for="confirmPassword"
          class="col-form-label col-form-label-sm"
          [ngClass]="frmResident.controls['confirmPassword'].invalid ? 'text-danger' : ''"
          >Confirm Password:</label
        >
        <input
          id="confirmPassword"
          formControlName="confirmPassword"
          autocomplete="new-password"
          type="password"
          class="form-control "
          [ngClass]="frmResident.controls['confirmPassword'].invalid ? 'is-invalid' : ''"
        />
        <label class="text-danger" *ngIf="frmResident.controls['confirmPassword'].hasError('required')">
          Password is Required!
        </label>
        <label class="text-danger" *ngIf="frmResident.controls['confirmPassword'].hasError('NoPassswordMatch')">
          Password do not match
        </label>
      </div>
      <div class="form-group col-12">
        <button
          [disabled]="frmResident.invalid"
          type="button"
          value=""
          *ngIf="!(!equal && uid != 0)"
          (click)="save()"
          class="btn btn-primary btn-block font-weight-bold"
        >
          Save
        </button>
      </div>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="material-icons p-md-2 text-danger">camera_alt</i>
          Upload document image
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="file" formControlName="image" (change)="fileChangeEvent($event)" />

        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 4"
          [resizeToWidth]="400"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-success" ngbAutofocus (click)="modal.close('Close click')">
          Upload
        </button>
      </div>
    </ng-template>
  </form>
</div>
