<div class="container p-3">
    <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
      <div class="card">
        <div class="card-header  font-weight-bold">
          Guards Login
        </div>
        <div class="card card-body">
          
  
          <form [formGroup]="frmSignup">
            <div class="input-group input-group-lg">
              <label for="" class="col-12 h2">Email or user</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                name="email"
                value="RIBDELRÍO088"
                id="email"
                placeholder="Ingrese su email o usuario"
                [ngClass]="frmSignup.controls['email'].invalid ? 'is-invalid' : ''"
              />
            </div>
            <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('required')">
              User is Required!
            </label>
            <br>
            <br>
            
            <div class="input-group input-group-lg">
              <label for="" class="col-12 h2">Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                name="password"
                value="12664088"
                id="password"
                placeholder="Ingrese su password"
                [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''"
              />
            </div>
            <label class="text-danger" *ngIf="frmSignup.controls['password'].hasError('required')">
              Password is Required!
            </label>
            <br>
            <br>
            <div class="form-group">
              <button
                type="button"
                [disabled]="frmSignup.invalid"
                class="btn btn-primary btn-lg btn-block font-weight-bold h2 "
                (click)="authenticateGuard()"
              >
                Login
              </button>
              <label for="" class="text-danger btn-block text-center">{{ msj }}</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  