<div class="container p-4">
  <div class="row py-2">
    <div class="col">
      <div class="titles">Visitors last week</div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <div>
        <a routerLink="/guardHome/{{ administratorID }}/{{ residenceID }}/{{ guardID }}" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-responsive-sm table-hover">
        <thead class="thead-dark">
          <th>#</th>
          <th>Visitor name</th>
          <th>Visit Date</th>
          <th>Resident to visit</th>
          <th>Address to visit</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of codes; let i = index"
            [ngClass]="
              (item.visitDate < dateToday && item.status == 2) || (item.visitDate == dateToday && item.status == 2)
                ? 'alert-success'
                : item.visitDate < dateToday && item.status == 1
                ? 'alert-warning'
                : item.status == 3
                ? 'alert-danger'
                : ''
            "
          >
            <th>{{ i + 1 }}</th>
            <td>{{ item?.name }}</td>
            <td>
              {{ item?.visitDate | date }}
              <br />
              <span class="badge badge-warning" [hidden]="item.visitDate >= dateToday || item.status == 2">
                Expired and not used
              </span>
              <span class="badge badge-danger" [hidden]="item.status != 3">
                Rejected
              </span>
              <span class="badge badge-success" [hidden]="item.visitDate > dateToday || item.status != 2">
                Successfully used
              </span>

              <!-- <span class="badge badge-success" [hidden]="item.visitDate <= dateToday && item.status == 2">
                Successfully Used
              </span> -->
            </td>
            <td>{{ item?.Resident?.name }}</td>
            <td>
              {{ item.Resident?.residenceType }} {{ item.Resident?.street }} {{ item.Resident?.streetType }}
              {{ item.Resident?.residenceNumber }} {{ item.Resident?.level ? 'level ' + item.Resident?.level : '' }}"
            </td>
            <td>
              <span [hidden]="item.visitDate > dateToday || item.status == 1">
                <i
                  class="material-icons p-md-2 text-primary"
                  style="cursor:pointer"
                  routerLink="/codeCard/{{ administratorID }}/{{ residenceID }}/{{ guardID }}"
                  [queryParams]="{ residentID: item.residentID, visitID: item.visitorID }"
                  >list</i
                >
                &nbsp;
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
