<div class="container p-4">
  <div class="card">
    <!-- <img src="{{ visitor?.documentImage }}" class="card-img" alt="..." /> -->

    <div class="card-body" [ngClass]="visitor?.status == 2 ? 'alert-success' : visitor?.status == 3 ? 'alert-danger' : ''">
      <div class="row">
        <div class="col-6  col-md-3 mx-auto p-2">
          <button type="button" *ngIf="visitor?.status == 1" class="btn btn-danger btn-block p-4 btn-lg mx-auto " (click)="reject(content)">
            Reject
          </button>
        </div>
        <div class="col-md-6 col-sm-12 mx-auto">
          <div class="mx-auto text-center" style="width: 280px">
            <img src="{{ visitor?.documentImage }}" width="280" alt="..." />
          </div>
        </div>
        <div class="col-6  col-md-3  mx-auto p-2">
          <button type="button" *ngIf="visitor?.status == 1" class="btn btn-success btn-block p-4 btn-lg " (click)="confirm()">
            Confirm
          </button>
        </div>
        <div class="col-12 mx-auto">
          <div class="mx-auto text-center">
            <span class="h1 text-center inline-block">
              Code used:
              <span class="text-success" [ngClass]="visitor?.status == 2 ? 'text-success' : visitor?.status == 3 ? 'text-danger' : ''">{{
                visitor?.code
              }}</span>
            </span>
          </div>
        </div>
        <div *ngIf="visitor?.status == 2 || visitor?.status == 3" class="col-12 mx-auto">
          <div class="mx-auto text-center" style="width: 90%">
            <span class=""
              ><br />
              <b>On: </b>{{ visitor.confirmDate | date: 'long' }}
              <br />
              <b>By guard: </b>{{ visitor?.Guard?.name }}
              <span *ngIf="visitor?.status == 3">
                <br />
                <b>Because: </b>{{ visitor?.rejectReason }}
                <br />
                <b>Reject observations:</b>{{ visitor?.rejectObservation }}
              </span>
            </span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              ><b>{{ residence?.type }}</b></label
            >
            <div class="col-sm-10">
              <input class="form-control" readonly value="{{ residence?.name }}" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Resident</b></label>
            <div class="col-sm-10">
              <input class="form-control" readonly value="{{ resident?.name }}" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Address</b></label>
            <div class="col-sm-10">
              <input
                class="form-control"
                readonly
                value="{{ resident?.residenceType }} {{ resident?.street }} {{ resident?.streetType }} {{ resident?.residenceNumber }} {{
                  resident?.level ? 'level ' + resident?.level : ''
                }}"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Date of visit</b></label>
            <div class="col-sm-10">
              <input class="form-control" readonly value="{{ visitor?.visitDate | date }}" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Visitant Name</b></label>
            <div class="col-sm-10">
              <input class="form-control" readonly value="{{ visitor?.name }}" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              ><b>{{ visitor?.documentType }} number</b></label
            >
            <div class="col-sm-10">
              <input class="form-control" readonly value="{{ visitor?.documentNumber }}" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Vehicule</b></label>
            <div class="col-sm-10">
              <input
                class="form-control"
                readonly
                value="{{
                  visitor?.vehiculeType === 'Peatonal'
                    ? ' ' + visitor?.vehiculeType + ' access '
                    : ' ' + visitor?.vehiculeType + (visitor?.badge ? ' badge number ' + visitor?.badge : '')
                }}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="material-icons p-md-2 text-danger">not_interested</i>
      Reject access code Resident
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to reject this access code
    </p>
    <div class="form-group">
      <label for="reason">Reject reason </label>
      <select multiple class="form-control" [(ngModel)]="reason" [ngClass]="!reason ? 'is-invalid' : ''" id="reason">
        <option value="Invalid document">Invalid document</option>
        <option value="Address not valid">Address not valid</option>
        <option value="Is not the person">Is not the person</option>
      </select>
    </div>
    <div class="form-group">
      <label for="residenceNumber" [ngClass]="!comments ? 'text-danger' : ''" class="col-form-label">Reject comments </label>
    </div>
    <div class="form-group">
      <textarea
        name="comments"
        [ngClass]="!comments ? 'is-invalid' : ''"
        placeholder="Comments are required!"
        [(ngModel)]="comments"
        id="comments"
        class="form-control"
        rows="3"
      ></textarea>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>

    <button type="button" [disabled]="!(comments && reason)" class="btn btn-danger" ngbAutofocus (click)="rejectConfirm()">
      Delete
    </button>
  </div>
</ng-template>
