<div class="container">
  <div class="row">
    <div class="col p-4">
      <span class="titles">
        Administrate your account
      </span>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <div>
        <!-- <a routerLink="/residentForm/{{ administratorID }}/{{ residenceID }}/0" class="btn btn-primary">New Resident</a>&nbsp; -->
        <a routerLink="/residentHome/{{ administratorID }}/{{ residenceID }}/{{residentID}}" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12 col-md-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a
          class="list-group-item list-group-item-action active"
          id="list-profile-list"
          data-toggle="list"
          href="#list-profile"
          role="tab"
          aria-controls="profile"
          >Personal information</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-messages-list"
          data-toggle="list"
          href="#list-messages"
          role="tab"
          aria-controls="messages"
          >Change password</a
        >

        <a
          class="list-group-item list-group-item-action"
          id="list-delete-list"
          data-toggle="list"
          href="#list-delete"
          role="tab"
          aria-controls="delete"
          >Delete account</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-home-list"
          data-toggle="list"
          href="#list-home"
          role="tab"
          aria-controls="home"
          >Pay my maintainance fee <span class="badge badge-warning">Soon!</span></a
        >
      </div>
    </div>
    <div class="col-12 col-md-8 my-1">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
          <form [formGroup]="frmPlan">
            <div class="h2">Payment information</div>
            <div class="form-group">
              <label for="name">Full name (on the card)</label>
              <input
                type="text"
                name="name"
                [ngClass]="frmPlan.controls['name'].invalid ? 'is-invalid' : ''"
                formControlName="name"
                placeholder="Jason Doe"
                required
                class="form-control"
              />
              <label class="text-danger small" *ngIf="frmPlan.controls['name'].hasError('required')">
                Full name is required!
              </label>
            </div>
            <div class="form-group">
              <label for="number">Card number</label>
              <div class="input-group">
                <input
                  type="text"
                  name="number"
                  [ngClass]="frmPlan.controls['number'].invalid ? 'is-invalid' : ''"
                  formControlName="number"
                  placeholder="Your card number"
                  class="form-control"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text text-muted">
                    <i class="fa fa-cc-visa mx-1"></i>
                    <i class="fa fa-cc-amex mx-1"></i>
                    <i class="fa fa-cc-mastercard mx-1"></i>
                  </span>
                </div>
              </div>
              <label class="text-danger small" *ngIf="frmPlan.controls['number'].hasError('required')">
                Card number is required!
              </label>
              <label
                class="text-danger small"
                *ngIf="frmPlan.controls['number'].hasError('min') || frmPlan.controls['number'].hasError('max')"
              >
                Card number must have 16 digits
              </label>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <label><span class="hidden-xs">Expiration</span></label>
                  <div class="input-group">
                    <input
                      type="number"
                      [ngClass]="frmPlan.controls['month'].invalid ? 'is-invalid' : ''"
                      placeholder="MM"
                      formControlName="month"
                      name=""
                      class="form-control"
                      required
                    />
                    <input
                      type="number"
                      formControlName="year"
                      [ngClass]="frmPlan.controls['year'].invalid ? 'is-invalid' : ''"
                      placeholder="YY"
                      name=""
                      class="form-control"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group mb-4">
                  <label data-toggle="tooltip" title="Three-digits code on the back of your card"
                    >CVV
                    <i class="fa fa-question-circle"></i>
                  </label>
                  <input
                    type="text"
                    [ngClass]="frmPlan.controls['cvv'].invalid ? 'is-invalid' : ''"
                    formControlName="cvv"
                    required
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-sm-8">
                <label
                  class="text-danger small"
                  *ngIf="frmPlan.controls['month'].hasError('required') || frmPlan.controls['year'].hasError('required')"
                >
                  Expiration date is required!
                </label>
                <label
                  class="text-danger small"
                  *ngIf="frmPlan.controls['month'].hasError('min') || frmPlan.controls['month'].hasError('max')"
                >
                  Month must be a number between 1-12
                </label>
                <label
                  class="text-danger small"
                  *ngIf="frmPlan.controls['year'].hasError('min') || frmPlan.controls['year'].hasError('max')"
                >
                  Year must be a valid date
                </label>
              </div>
              <div class="col-sm-4">
                <label class="text-danger small" *ngIf="frmPlan.controls['cvv'].hasError('required')">
                  CVV is required!
                </label>
                <label class="text-danger small" *ngIf="frmPlan.controls['cvv'].hasError('min') || frmPlan.controls['cvv'].hasError('max')">
                  CVV must be a number between 100 and 999
                </label>
              </div>
            </div>

            <button type="button" disabled (click)="saveCC()" class="btn btn-success btn-block">Save</button>
            <br />
          </form>
        </div>
        <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          <app-resident-form></app-resident-form>
        </div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
          <ng-container *ngIf="changePassword; else noChange">
            <div class="h2">Change password</div>
            <p>
              It will be logged out from the system and you will receive an email to reset your password. After that you must authenticate
              yourself in the system again.
            </p>
            <button type="button" class="btn btn-warning btn-block" (click)="resetPassword()">Reset your password</button>
          </ng-container>
          <ng-template #noChange>
            <p class="h4">
              Your account is vinculated to <b>{{ provider }}</b
              >, you can't change your password from this application
            </p>
          </ng-template>
        </div>
        <div class="tab-pane fade" id="list-delete" role="tabpanel" aria-labelledby="list-delete-list">
          <div class="h2 text-danger">Delete account</div>
          <p>
            If you delete your account you will lose all the information of your residences/offices and residents. THIS PROCESS IS
            IRREVERSIBLE.
          </p>
          <button type="button" class="btn btn-danger btn-block">Confirm Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
