/* You can add global styles to this file, and also import other style files */
$enable-responsive-font-sizes: true;
.material-icons {
    display: inline-flex;
    vertical-align: middle;
 }

 .titles {
     font-size: 4vw;
 }