<div class="container">
  <div class="row">
    <div class="col py-1">
      <span class="titles"> Configurate your {{ residence?.type }} </span>
    </div>
  </div>
  <div class="row py-1">
    <div class="col">
      <div>
        <!-- <a routerLink="/residentForm/{{ administratorID }}/{{ residenceID }}/0" class="btn btn-primary">New Resident</a>&nbsp; -->
        <a routerLink="/residentHome/{{ administratorID }}/{{ residenceID }}/{{ uid }}" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12 col-md-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a
          class="list-group-item list-group-item-action active"
          id="list-profile-list"
          data-toggle="list"
          href="#list-profile"
          role="tab"
          aria-controls="profile"
          >General configuration</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-messages-list"
          data-toggle="list"
          href="#list-messages"
          role="tab"
          aria-controls="messages"
          >{{ residence?.type }} information</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-communication-list"
          data-toggle="list"
          href="#list-communication"
          role="tab"
          aria-controls="communication"
          >Contact the administrator <span class="badge badge-warning">Soon!</span> </a
        >
      </div>
    </div>
    <div class="col-12 col-md-8 my-1">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          <div class="h2">Visitors</div>
          <div class="small">This will help you to make your access code even more faster, you can change this every time you create and access code.</div>
          <form [formGroup]="frmVisitor">
            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmVisitor.controls['SMS'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="SMS" ngbButton />
                  <i class="material-icons col-1  text-right"
                    >{{ frmVisitor.controls['SMS'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11  text-right">
                    Always send SMS to my visitors
                  </span>
                </span>
              </label>
            </div>
            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmVisitor.controls['email'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="email" ngbButton />
                  <i class="material-icons col-1  text-right"
                    >{{ frmVisitor.controls['email'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11  text-right">
                    Always send email to my visitors
                  </span>
                </span>
              </label>
            </div>
            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmVisitor.controls['recurrent'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="recurrent" ngbButton />
                  <i class="material-icons col-1  text-right"
                    >{{ frmVisitor.controls['recurrent'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11  text-right">
                    Always save my visitors as recurrent
                  </span>
                </span>
              </label>
            </div>
            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmVisitor.controls['notificateMe'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="notificateMe" ngbButton />
                  <i class="material-icons col-1  text-right"
                    >{{ frmVisitor.controls['notificateMe'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11  text-right">
                    Always notificate me when my visitors arrive
                  </span>
                </span>
              </label>
            </div>
            <div class="form-group col-12">
              <button type="button" class="btn btn-primary btn-block " (click)="saveRegisterConfiguration()">Save all configuration</button>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
          <form>
            <div class="h2">{{ residence?.type }} {{ residence?.name }}</div>
            <div class="h4">
              <u>Administrator</u>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label bold font-weight-bold">Name:</label>
              <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" value="{{ administrator?.name }}" />
              </div>
              <label class="col-sm-4 col-form-label bold font-weight-bold">Phone:</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  value="({{ administrator?.phoneCountryCode }}) {{ administrator?.phone }}"
                />
              </div>
              <label class="col-sm-4 col-form-label bold font-weight-bold">Email:</label>
              <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" value="{{ administrator?.email }}" />
              </div>
              <label class="col-sm-4 col-form-label bold font-weight-bold">Membership type:</label>
              <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" value="{{ administrator?.membership }}" />
              </div>
              <br />
            </div>
            <div class="h4"><u>Guards</u></div>
            <div class="form-group row">
              <ng-container *ngFor="let guard of guards; let i = index">
                <label class="col-sm-4 col-form-label bold font-weight-bold">Guard {{ i + 1 }}:</label>
                <div class="col-sm-4">
                  <input type="text" readonly class="form-control-plaintext" value="{{ guard?.name }}" />
                </div>
                <div class="col-sm-4">
                  <input type="text" readonly class="form-control-plaintext" value="({{ guard?.phoneCountryCode }}) {{ guard.phone }}" />
                </div>
              </ng-container>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="list-communication" role="tabpanel" aria-labelledby="list-communication-list">
          <div class="h2">Send a message to your administrator</div>
          <form>
            <div class="form-group">
              <label for="Subject" class="col-form-label">Subject</label>
              <div>
                <input disabled type="text" class="form-control" id="subject" placeholder="Small description" />
              </div>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea disabled class="form-control" id="message" rows="3" placeholder="You have 500 characters to express yourself" ></textarea>
            </div>
            <button type="button" disabled class="btn btn-primary btn-block">Send message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
