<div class="container">
  <div class="row">
    <div class="col py-1">
      <span class="titles"> Configuration of {{ residence?.name }} </span>
    </div>
  </div>
  <div class="row py-1">
    <div class="col">
      <div>
        <!-- <a routerLink="/residentForm/{{ administratorID }}/{{ residenceID }}/0" class="btn btn-primary">New Resident</a>&nbsp; -->
        <a routerLink="/administrator" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12 col-md-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a
          class="list-group-item list-group-item-action active"
          id="list-profile-list"
          data-toggle="list"
          href="#list-profile"
          role="tab"
          aria-controls="profile"
          >General configuration</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-messages-list"
          data-toggle="list"
          href="#list-messages"
          role="tab"
          aria-controls="messages"
          >{{ residence?.type }} information</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-settings-list"
          data-toggle="list"
          href="#list-settings"
          role="tab"
          aria-controls="settings"
          >Delete {{ residence?.type }}</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-conversation-list"
          data-toggle="list"
          href="#list-conversation"
          role="tab"
          aria-controls="conversation"
          >Messages from your residents <span class="badge badge-warning">Soon!</span> </a
        >
      </div>
    </div>
    <div class="col-12 col-md-8 my-1">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          <div class="h2">Configuration</div>
          <div class="h4">
            Visitors
          </div>
          <form [formGroup]="frmVisitor">
            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmVisitor.controls['documentImage'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="documentImage" ngbButton />
                  <i class="material-icons col-1  text-right"
                    >{{ frmVisitor.controls['documentImage'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11  text-right">
                    Document image obligatory
                  </span>
                </span>
              </label>
            </div>
            <br />
            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmVisitor.controls['identificationDocument'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="identificationDocument" ngbButton />
                  <i class="material-icons col-1  text-right"
                    >{{ frmVisitor.controls['identificationDocument'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11  text-right">
                    Identification number obligatory
                  </span>
                </span>
              </label>
            </div>
            <br />
            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmVisitor.controls['badgeNumber'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="badgeNumber" ngbButton />
                  <i class="material-icons col-1 text-right"
                    >{{ frmVisitor.controls['badgeNumber'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11 text-right">
                    Badge number obligatory
                  </span>
                </span>
              </label>
            </div>
            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmVisitor.controls['email'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="email" ngbButton />
                  <i class="material-icons col-1 text-right"
                    >{{ frmVisitor.controls['email'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11 text-right">
                    Email address obligatory
                  </span>
                </span>
              </label>
            </div>
            <br />
            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmVisitor.controls['phone'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="phone" ngbButton />
                  <i class="material-icons col-1 text-right"
                    >{{ frmVisitor.controls['phone'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11 text-right">
                    Phone obligatory
                  </span>
                </span>
              </label>
            </div>
            
            <br />
          </form>
          <br />
          <div class="h4">
            Register
          </div>
          <form [formGroup]="frmResident">
            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmResident.controls['residenceImage'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="residenceImage" ngbButton />
                  <i class="material-icons col-1  text-right"
                    >{{ frmResident.controls['residenceImage'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11  text-right">
                    Residence image obligatory
                  </span>
                </span>
              </label>
            </div>
            <br />
            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmResident.controls['residenceNumber'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="residenceNumber" ngbButton />
                  <i class="material-icons col-1  text-right"
                    >{{ frmResident.controls['residenceNumber'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11  text-right">
                    Residence number obligatory
                  </span>
                </span>
              </label>
            </div>
            <br />
            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmResident.controls['streetNumber'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="streetNumber" ngbButton />
                  <i class="material-icons col-1  text-right"
                    >{{ frmResident.controls['streetNumber'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11  text-right">
                    Street / Avenue number obligatory
                  </span>
                </span>
              </label>
            </div>
            <br />

            <div class="btn-group btn-group-toggle my-1 col-12 inline-block">
              <label
                style="cursor: pointer"
                [ngClass]="frmResident.controls['phone'].value ? 'alert-primary' : 'alert-secondary'"
                ngbButtonLabel
              >
                <span class="row">
                  <input type="checkbox" formControlName="phone" ngbButton />
                  <i class="material-icons col-1 text-right"
                    >{{ frmResident.controls['phone'].value ? 'check_box' : 'check_box_outline_blank' }}&nbsp;&nbsp;</i
                  >
                  <span class="col-11 text-right">
                    Phone obligatory
                  </span>
                </span>
              </label>
            </div>
            <div class="form-group col-12">
              <button type="button" class="btn btn-primary btn-block " (click)="saveRegisterConfiguration()" >Save all configuration</button>
            </div>
            <br />
          </form>
        </div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
          <div class="h2">
            Information
          </div>
          <form [formGroup]="frmResidence">
            <div class="form-group">
              <label for="residenceName" [ngClass]="frmResidence.controls['name'].invalid ? 'text-danger' : ''">Residence name</label>
              <input
                type="text"
                [ngClass]="frmResidence.controls['name'].invalid ? 'is-invalid' : ''"
                formControlName="name"
                class="form-control"
                id="residenceName"
                placeholder="Residence Name"
              />
              <label class="text-danger" *ngIf="frmResidence.controls['name'].hasError('required')">
                Residence / Office name is Required!
              </label>
              <label class="text-danger" *ngIf="frmResidence.controls['name'].hasError('minlength')">
                Residence / Office name must have at least 6 characters
              </label>
              <label class="text-danger" *ngIf="frmResidence.controls['name'].hasError('maxlength')">
                Residence / Office name max is 50 characters
              </label>
            </div>
            <div class="form-group">
              <label for="residenceType" [ngClass]="frmResidence.controls['residenceType'].invalid ? 'text-danger' : ''"
                >Residence type</label
              >
              <select
                formControlName="residenceType"
                [ngClass]="frmResidence.controls['residenceType'].invalid ? 'is-invalid' : ''"
                class="form-control"
                id="residenceType"
              >
                <option value="Residence">Residence</option>
                <option value="Office">Office</option>
                <option value="Warehouse">Warehouse</option>
              </select>
              <label class="text-danger" *ngIf="frmResidence.controls['residenceType'].hasError('required')">
                The address is required
              </label>
            </div>
            <div class="form-group">
              <label for="address" [ngClass]="frmResidence.controls['address'].invalid ? 'text-danger' : ''"
                >{{ residence?.type }} address</label
              >
              <input
                formControlName="address"
                [ngClass]="frmResidence.controls['address'].invalid ? 'is-invalid' : ''"
                type="text"
                class="form-control"
                id="address"
                placeholder="18th zone"
              />
            </div>
            <label class="text-danger" *ngIf="frmResidence.controls['address'].hasError('required')">
              The address is required
            </label>
            <div class="form-group col-12">
              <button type="button" [disabled]="frmResidence.invalid" (click)="saveResidentInformation()" class="btn btn-primary btn-block ">Save</button>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
          <div class="h2 text-danger">Delete {{ residence?.type }}</div>
          <p>
            This process is irreversible, you will lost all the access to this residence
          </p>
          <button type="button" class="btn btn-danger">Confirm Delete</button>
        </div>
        <div class="tab-pane fade" id="list-conversation" role="tabpanel" aria-labelledby="list-conversation-list">
          <div class="h2">Messages</div>
        </div>

      </div>
    </div>
  </div>
</div>
    
