<div class="container p-4">
  <div class="row py-2">
    <div class="col">
      <div class="titles">Recurrent Visitors</div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <div>
        <a routerLink="/residentHome/{{ administratorID }}/{{ residenceID }}/{{ residentID }}" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-responsive-sm table-hover">
        <thead class="thead-dark">
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone number</th>
          <th>Document</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of recurrent; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.eMail }}</td>
            <td>(+{{ item.phoneCountryCode }}) {{ item.phone }}</td>
            <td>{{ item.documentType }} {{ item.documentNumber }}</td>
            <td>
              <a class="btn btn-primary" routerLink="/newVisit/{{ administratorID }}/{{ residenceID }}/{{ residentID }}/{{ item.eMail }}"
                >Generate new code</a
              >
              &nbsp;
              <i class="material-icons p-md-2 text-danger" style="cursor:pointer" (click)="delete(content, item.name, item.eMail)">delete</i>
              <!-- &nbsp;
                    <a href="#"><i class="material-icons  p-md-2 text-info">list</i></a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="material-icons p-md-2 text-danger">delete</i>
      Delete Recurrent
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the recurrent visitor <b>{{ recurr?.name }}</b>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-danger" ngbAutofocus (click)="confirmDelete(administratorID, residenceID,residentID, recurr?.eMail)">
      Delete
    </button>
  </div>
</ng-template>
