<div id="home" class="container">
  <div class="row justify-content-center text-center align-items-center ">
    <div class="col-12 py-4 display-2" id="logo">
      <em>IngresApp</em>
    </div>
  </div>
  <div class="row py-1 ">
    <div class="col">
      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/bg.png" class="d-block w-100" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Administra tus Inquilinos</h5>
                <p>Crea tu residencial, comparte el link para agregar inquilinos y listo!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/bg.png" class="d-block w-100" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Administra tus Ingresos</h5>
                <p>Crea códigos de ingreso para tus visitantes para facilitar su acceso y autorización</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/bg.png" class="d-block w-100" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Control detallado de visitas</h5>
                <p>Reportes de visitas por recibir y recibidas</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
