<div class="container p-4">
  <div class="row py-2">
    <div class="col">
      <div class="titles">Residents of {{ residence?.name }}</div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <div>
        <!-- <a routerLink="/residentForm/{{ administratorID }}/{{ residenceID }}/0" class="btn btn-primary">New Resident</a>&nbsp; -->
        <a routerLink="/administrator" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-responsive-sm table-hover">
        <thead class="thead-dark">
          <th class="text-center">#</th>
          <th class="text-center">Name</th>
          <th class="text-center">Email</th>
          <th class="text-center">Phone number</th>
          <th class="text-center">Address</th>
          <th class="text-center">Action</th>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of residents; let i = index"
            [ngClass]="item.status == 1 ? 'alert-warning' : item.status == 0 ? 'alert-danger' : ''"
          >
            <th class="align-middle">{{ i + 1 }}</th>
            <td class="align-middle text-center">
              {{ item.name }}<br /><span *ngIf="item.status == 1" class="badge badge-warning">Pending approval</span
              ><span *ngIf="item.status == 0" class="badge badge-danger">Information missing</span>
            </td>
            <td class="align-middle">{{ item.email }}</td>
            <td class="align-middle">(+{{ item.phoneCountryCode }}) {{ item.phone }}</td>
            <td class="align-middle">
              {{ item.residenceType }} {{ item.street }} {{ item.streetType }} {{ item.residenceNumber }}
              {{ item.level ? 'level ' + item.level : '' }}
            </td>
            <td class="align-middle text-center">
              <a routerLink="/residentForm/{{ administratorID }}/{{ residenceID }}/{{ item.uid }}"
                ><i class="material-icons p-md-2 text-primary h2">list</i></a
              >
              <i class="material-icons p-md-2 text-danger h2" style="cursor:pointer" (click)="delete(content, item.name, item.uid)"
                >delete</i
              >
              <i
                class="material-icons p-md-2 text-success h2"
                *ngIf="item.status == 1"
                data-toggle="tooltip"
                data-placement="top"
                title="Approve resident"
                style="cursor:pointer"
                (click)="confirmResident(content, item.name, item.uid)"
                >check_circle</i
              >
              <i
                class="material-icons p-md-2 text-danger h2"
                *ngIf="item.status == 1"
                data-toggle="tooltip"
                data-placement="top"
                title="Reject resident"
                style="cursor:pointer"
                (click)="rejectResident(content2, item.name, item.uid)"
                >cancel</i
              >
              <!-- &nbsp;
                    <a href="#"><i class="material-icons  p-md-2 text-info">list</i></a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="material-icons p-md-2 text-danger">cancel</i>
      Reject Resident
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-weight-bold">
      Are you sure you want to reject the resident <b>{{ resident?.name }}</b>
    </p>
    <div class="form-group">
      <label for="residenceNumber" [ngClass]="!comments ? 'text-danger' : ''" class="col-form-label">Rejection comments</label>
    </div>
    <div class="form-group">
      <textarea
        name="comments"
        [ngClass]="!comments ? 'is-invalid' : ''"
        placeholder="Comments are required!"
        [(ngModel)]="comments"
        id="comments"
        class="form-control"
        rows="3"
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button
      type="button"
      class="btn btn-danger"
      [disabled]="!comments"
      ngbAutofocus
      (click)="confirmRejection(administratorID, residenceID, resident?.uid)"
    >
      Reject
    </button>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="material-icons p-md-2 text-danger">delete</i>
      Delete Resident
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the resident <b>{{ resident?.name }}</b>
    </p>
    <div class="form-group">
      <label for="residenceNumber" [ngClass]="!comments ? 'text-danger' : ''" class="col-form-label">Delete comments</label>
    </div>
    <div class="form-group">
      <textarea
        name="comments"
        [ngClass]="!comments ? 'is-invalid' : ''"
        placeholder="Comments are required!"
        [(ngModel)]="comments"
        id="comments"
        class="form-control"
        rows="3"
      ></textarea>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>

    <button
      type="button"
      [disabled]="!comments"
      class="btn btn-danger"
      ngbAutofocus
      (click)="confirmDelete(administratorID, residenceID, resident?.uid)"
    >
      Delete
    </button>
  </div>
</ng-template>
