<div class="container p-3">
  <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
    <div class="card">
      <div class="card-header  font-weight-bold"><i class="material-icons">assignment_ind</i> Sign Up Form</div>
      <div class="card card-body">
        <form [formGroup]="frmSignup">
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  formControlName="residenceCheckbox"
                  name=""
                  id="residenceCheckbox"
                  value="checkedValue"
                />
                I'm a resident and I have a residence code <i class="material-icons">house</i>
              </label>
              <br />
              <small class="text-secondary">Uncheck if you are an administrator</small>
              <input
                id="residenceCode"
                type="text"
                *ngIf="this.frmSignup.controls['residenceCheckbox'].value"
                [ngClass]="frmSignup.controls['residenceCode'].invalid ? 'is-invalid' : ''"
                formControlName="residenceCode"
                class="form-control"
                (keyup)="onKey($event)"
              />
              <label for="" *ngIf="residence?.name.length > 0" class="text-success py-2 h4"
                >{{ residence?.type }}: {{ residence?.name }}</label
              >
              <label class="text-danger" *ngIf="frmSignup.controls['residenceCode'].hasError('required')">
                Residence code is required!
              </label>
              <label class="text-danger" *ngIf="frmSignup.controls['residenceCode'].hasError('exists')">
                The Residence Code must exists!
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="email" [ngClass]="frmSignup.controls['email'].invalid ? 'text-danger' : ''">Email Address</label>
            <input
              id="email"
              formControlName="email"
              type="email"
              class="form-control"
              autocomplete="username"
              [ngClass]="frmSignup.controls['email'].invalid ? 'is-invalid' : ''"
            />
            <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('required')">
              Email is Required!
            </label>
            <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('email')">
              Enter a valid email address!
            </label>
            <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('emailUnique')">
              The email address is already on use
            </label>
          </div>
          <div class="form-group">
            <label for="password" [ngClass]="frmSignup.controls['password'].invalid ? 'text-danger' : ''">Password:</label>
            <input
              id="password"
              formControlName="password"
              type="password"
              autocomplete="new-password"
              class="form-control"
              [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''"
            />
            <!-- <label class="text-danger col" *ngIf="frmSignup.controls['password'].hasError('required')">
                    Password is Required!
                  </label> -->
            <label
              class="col"
              [ngClass]="
                frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')
                  ? 'text-danger'
                  : 'text-success'
              "
            >
              <i class="material-icons">{{
                frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')
                  ? 'cancel'
                  : 'check_circle'
              }}</i>
              Must be at least 8 characters!
            </label>
            <label
              class="col"
              [ngClass]="
                frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')
                  ? 'text-danger'
                  : 'text-success'
              "
            >
              <i class="material-icons">{{
                frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')
                  ? 'cancel'
                  : 'check_circle'
              }}</i>
              Must contain at least 1 number!
            </label>
            <label
              class="col"
              [ngClass]="
                frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')
                  ? 'text-danger'
                  : 'text-success'
              "
            >
              <i class="material-icons">{{
                frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')
                  ? 'cancel'
                  : 'check_circle'
              }}</i>
              Must contain at least 1 in Capital Case!
            </label>
            <label
              class="col"
              [ngClass]="
                frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')
                  ? 'text-danger'
                  : 'text-success'
              "
            >
              <i class="material-icons">{{
                frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')
                  ? 'cancel'
                  : 'check_circle'
              }}</i>
              Must contain at least 1 Letter in Small Case!
            </label>
            <label
              class="col"
              [ngClass]="
                frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSpecialCharacters')
                  ? 'text-danger'
                  : 'text-success'
              "
            >
              <i class="material-icons">{{
                frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSpecialCharacters')
                  ? 'cancel'
                  : 'check_circle'
              }}</i>
              Must contain at least 1 Special Character!
            </label>
          </div>
          <div class="form-group">
            <label for="confirmPassword" [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'text-danger' : ''"
              >Confirm Password:</label
            >
            <input
              id="confirmPassword"
              formControlName="confirmPassword"
              autocomplete="new-password"
              type="password"
              class="form-control"
              [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''"
            />
            <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
              Password is Required!
            </label>
            <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
              Password do not match
            </label>
          </div>
          <hr />
          <div class="form-group">
            <button
              [disabled]="this.frmSignup.controls['residenceCheckbox'].value && frmSignup.controls['residenceCode'].invalid"
              class="btn btn-primary d-inline m-1 w-100"
              (click)="loginWithFacebook()"
            >
              Register with Facebook
            </button>
            <br />
            <button
              [disabled]="this.frmSignup.controls['residenceCheckbox'].value && frmSignup.controls['residenceCode'].invalid"
              class="btn btn-danger d-inline m-1 w-100"
              (click)="loginWithGoogle()"
            >
              Register with Google
            </button>
            <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('emailUnique2')">
              An account already exists with the same email address but different sign-in credentials. Sign in using a provider associated
              with this email address.
            </label>
          </div>
          <hr />
          <div class="form-group">
            <button [disabled]="frmSignup.invalid" type="button" (click)="register()" class="btn btn-primary btn-block font-weight-bold">
              Sign up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <form action="">
        <div class="modal-body">
          <div class="form-group">
            <label for="">Email</label>
            <input
              type="email"
              class="form-control"
              name="emailRegister"
              id="emailRegister"
              [(ngModel)]="registro.emailRegister"
              autocomplete="username"
              placeholder="Ingrese su email"
            />
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input
              type="password"
              class="form-control"
              name="passwordRegister"
              id="passwordRegister"
              [(ngModel)]="registro.passwordRegister"
              autocomplete="new-password"
              placeholder="Ingrese su password"
            />
          </div>
          <div class="form-group">
            <label for="">Repita su password</label>
            <input
              type="password"
              class="form-control"
              name="passwordReRegister"
              id="passwordReRegister"
              (keyup)="onKey($event)"
              [(ngModel)]="registro.passwordReRegister"
              autocomplete="new-password"
              placeholder="Repita su password"
            />
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="rePasswordMessage !== ''">
            {{ rePasswordMessage }}
          </div>
        </div>
        <div class="form-group">
          <label for="">Tipo de Usuario</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked />
            <label class="form-check-label" for="exampleRadios1">
              Administrador
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" />
            <label class="form-check-label" for="exampleRadios2">
              Residente
            </label>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="register()">Registrarse</button>
        </div>
      </form>
    </div>
    <div class="col-4"></div>
    <div class="col-2"></div>
  </div>
</div> -->
